<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> ما يقال في القنوت</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

اللهم اهدني فيمَن هديت، وعافني فيمن عافَيت، وتولَّني فيمَن تولَّيت، وبارك لي فيما أعطَيت، وقني شرَّ ما قضيت، فإنك تقضي ولا يُقضى عليك، إنه لا يَذِلُّ مَن واليت، تبارَكت ربنا وتعالَيت

<div class = "text-docartion"  align="center" >
رواه أبو داود</div>
   </div>
   
</div>


  </ion-content>
</ion-view>



