<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> أذكار الأذان</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
يقول مثل ما يقول المؤذن، إلا في حي على الصلاة وحي على الفلاح، فيقول: لا حول ولا قوة إلا بالله

<div class = "text-docartion"  align="center" >
رواه البخاري، ومسلم 
</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
يصلي على النبي -صلى الله عليه وسلم- بعد فراغه من إجابة المؤذِّن

<div class = "text-docartion"  align="center" >
رواه مسلم</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
يقول: "اللهم رب هذه الدعوة التامة، والصلاة القائمة، آت محمدًا الوسيلة والفضيلة، وابعَثه مقامًا محمودًا الذي وعَدته

<div class = "text-docartion"  align="center" >
رواه البخاري
</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
يدعو لنفسه بين الأذان والإقامة، فإن الدعاء حينئذ لا يُرد

<div class = "text-docartion"  align="center" >
رواه أبو داود</div>
   </div>
   
</div>

  </ion-content>
</ion-view>



