<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> باب ما يقول إذا فرغ من وضوئه</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="sona1">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
أشهد أنْ لا إله إلا الله وحده لا شريك له، وأشهد أن محمدًا عبده ورسوله"، من قالها، فُتِحت له أبواب الجنة الثمانية، يدخل من أيِّها شاء


<div class = "text-docartion"  align="center" >
رواه مسلم </div>
   </div>
   
</div>
<div class = "card" id="sona1">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
سبحانك اللهم وبحمْدك، أشهد أنْ لا إله إلا أنت، أستغفرك اللهم وأتوب إليك"، من توضَّأ فأسبَغ الوضوء، ثم قالها عند فراغه من وضوئه- خُتِم عليها بخاتم، فوُضِعت تحت العرش، فلم يُكسَر إلى يوم القيامة" 

<div class = "text-docartion"  align="center" >
رواه النسائي في عمل اليوم والليلة
</div>
   </div>
   
</div>


  </ion-content>
</ion-view>



