<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> الدعاء عند سماع نُباح الكلاب


</span>
</center> </ion-nav-title>  
  <ion-content>


<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

إذا سمعتم نُباح الكلاب ونهيق الحُمُر بالليل، فتعوَّذوا بالله؛ فإنهنَّ يَرين ما لا تَرون

<div class = "text-docartion"  align="center" >
 رواه أبو داود. </div>
   </div>
   
</div>



  </ion-content>
</ion-view>



