<ion-view >

    <ion-nav-title>
<center><span style="font-weight:600;"> أذكار  و أدعية يومية</span></center>
</ion-nav-title>  
  <ion-content class="center">
   
  <div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar1()">
 أذكار الصباح والمساء

    </button> 
  <div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar2()">
 ما يقول إذا استيقَظ من منامه
    </button> 
    </div>
     <div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar3()">
 ما يقول إذا لبِس ثوبه    </button> </div>

<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar4()">
 كيفية لُبس الثوب </button> </div>
  <div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar5()">
 ما يقول إذا دخل الخلاء  
 </button> </div>
  <div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar6()">
 ما يقول إذا خرج من الخلاء 
</button> </div>
  <div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar7()">
 الذكر قبل الوضوء 
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar8()">
 ما يقول إذا فرغ من وضوئه 
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar9()">
 ما يقال عند الخروج من المنزل
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar10()">
 ما يقال عند الدخول إلى المنزل
</button> </div>

<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar69()">
 ما يقول إذا خرج إلى الصلاة
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar11()">
 ما يقول عند دخول المسجد
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar12()">
 ما يقول عند الخروج من المسجد
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar13()">
 أذكار الأذان
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar14()">
 ما يقول الإمام
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar15()">
 ما يقول بعد تكبيرة الإحرام
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar16()">
 التعوُّذ بعد دعاء الاستفتاح
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar17()">
 ما يقال في الركوع
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar18()">
 ما يقول عند الاعتدال من الركوع
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar19()">
 ما يقول في السجود
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar20()">
 ما يقول بين السجدتين
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar21()">
 ما يقول في القنوت
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar22()">
 التشهد في الصلاة
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar23()">
 الصلاة على النبي بعد التشهُّد
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar24()">
 الدعاء إذا فرغ من التشهُّد
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar25()">
  آخر ما يقال بين التشهُّد والتسليم
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar26()">
 ما يقول بعد الانصراف من الصلاة
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar27()">
 ما يقال بعد صلاة الوتر
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar28()">
 دعاء صلاة الاستخارة
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar29()">
 الدعاء عند رؤية هلال رمضان
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar30()">
 ما يقول الصائم إذا سابَّه أحد
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar31()">
 الدعاء عند إفطار الصائم
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar32()">
 الدعاء إذا أفطر عند أهل بيت
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar33()">
 الذكر قبل الطعام
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar34()">
 الدعاء عند الفراغ من الطعام
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar35()">
 دعاء الضيف لصاحب الطعام
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar36()">
الدعاء لمن أطعَمه أو سقاه
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar37()">
 الدعاء لمن صنَع إليك معروفًا
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar38()">
 الدعاء لمن قال: إني أحبك في الله

</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar39()">
 ما يقال في المجلس
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar40()">
 كفارة المجلس
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar41()">
 كيف يُلبي المُحرِم في الحج أو العمرة

</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar42()">
 التكبير إذا أتى الركن الأسود
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar43()">
 الدعاء بين الركن اليماني والحجر الأسود
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar44()">
 دعاء الوقوف على الصفا والمروة
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar45()">
 الدعاء يوم عرفة
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar46()">
 الذكر عند المشعر الحرام
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar47()">
 التكبير عند رمْي الجِمار مع كل حَصاة

</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar48()">
 دعاء ركوب الدابة ونحوها
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar49()">
 دعاء السفر
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar50()">
 الدعاء عند سماع صِياح الدِّيك ونَهيق الحمار

</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar51()">
 الدعاء عند سماع نُباح الكلاب
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar52()">
 دعاء لقاء العدو
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar53()">
 ما يقول من خاف قومًا
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar54()">
 دعاء الريح
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar55()">
 الدعاء إذا نزَل المطر
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar56()">
وبعد انتهاء المطر يقول
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar57()">
 الدعاء لطرْد الشيطان ووساوسه
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar58()">
 ما يُعوَّذ به الأولاد
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar59()">
 ما يقول مَن أحسَّ وجعًا في جسده

</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar60()">
 الدعاء عند زيارة المريض
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar61()">
 دعاء العُطاس
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar62()">
 تلقين المُحتضَر
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar63()">
 دعاء مَن أُصيب بمصيبة
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar64()">
 دعاء التعزية
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar65()">
دعاء قضاء الدَّين
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar66()">
 الدعاء عند الغضب
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar67()">
 دعاء الهم والحزن
</button> </div>
<div class=""><button class="col col-100 style-100 button button-positive blinkdiv" ng-click="adkar68()">
 دعاء الكَرب
</button> </div>
  </ion-content>
</ion-view>
<!--http://www.alukah.net/sharia/0/43735/-->