<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> ما يقال في السجود</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

سبحان ربي الأعلى
<div class = "text-docartion"  align="center" >
رواه مسلم</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
سبحان ربي الأعلى وبحمده، ثلاث مرات

   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
سبحان ذي الجَبروت والملكوت، والكبرياء والعظمة
<div class = "text-docartion"  align="center" >
رواه أبو داود </div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
سبُّوح قدُّوس، رب الملائكة والرُّوح
<div class = "text-docartion"  align="center" >
رواه مسلم</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
اللهم لك سجَدت وبك آمنت، ولك أسلَمت، سجد وجهي للذي خلَقه وصوَّره، وشقَّ سمعه وبصره، تبارَك الله أحسنُ الخالقين

<div class = "text-docartion"  align="center" >
رواه مسلم</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
اللهم اغفر لي ذنبي كله؛ دِقَّه وجلَّه، وأوَّله وآخره، وعلانيته وسرَّه

<div class = "text-docartion"  align="center" >
رواه مسلم</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
اللهم اجعل في قلبي نورًا، وفي لساني نورًا، واجعل في سمعي نورًا، واجعل في بصري نورًا، واجعل من تحتي نورًا، واجعل من فوقي نورًا، وعن يميني نورًا، وعن يساري نورًا، واجعل أمامي نورًا، واجعل خلفي نورًا، واجعل في نفسي نورًا، وأعظم لي نورًا

<div class = "text-docartion"  align="center" >
رواه مسلم</div>
   </div>
   
</div>


  </ion-content>
</ion-view>



