<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> التكبير إذا أتى الركن الأسود

</span>
</center> </ion-nav-title>  
  <ion-content>

<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

يُستحب إذا أتى الركن واستطاع أن يَستلمه بيده ويُقبله دون إيذاء غيره - فِعْلُ ذلك، فإن لم يستطع أن يُقبل الحجر، استلَمه بيده وقبَّل يده، وإلا أشار إليه وكبَّر؛ للأثر الذي صحَّ في ذلك: "طاف النبي -صلى الله عليه وسلم- بالبيت على بعيرٍ، كلما أتى الركن أشار إليه بشيء عنده، وكبَّر

<div class = "text-docartion"  align="center" >
رواه البخاري
 </div>
   </div>
   
</div>




  </ion-content>
</ion-view>



