<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> دعاء ركوب الدابة ونحوها

</span>
</center> </ion-nav-title>  
  <ion-content>


<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

بسم الله، الحمد لله: ﴿ سُبْحَانَ الَّذِي سَخَّرَ لَنَا هَذَا وَمَا كُنَّا لَهُ مُقْرِنِينَ * وَإِنَّا إِلَى رَبِّنَا لَمُنْقَلِبُونَ الزخرف: 13- 14


   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

الحمد لله، الحمد لله، الحمد لله، الله أكبر، الله أكبر، الله أكبر، سبحانك اللهم إني ظلَمت نفسي فاغفر لي؛ فإنه لا يغفر الذنوب إلا أنت

<div class = "text-docartion"  align="center" >
رواه أبو داود </div>
   </div>
   
</div>



  </ion-content>
</ion-view>



