<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> ما يقال في الركوع</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

سبحان ربي العظيم"، ثلاث مرات
<div class = "text-docartion"  align="center" >
رواه مسلم</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
سبحان ربي العظيم وبحمده"، ثلاث مرات
<div class = "text-docartion"  align="center" >
رواه أبو داود
</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
سبُّوح قدُّوس، ربُّ الملائكة والرُّوح
<div class = "text-docartion"  align="center" >
رواه أبو داود
</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
سبحانك اللهم وبحمدك، اللهم اغفر لي
<div class = "text-docartion"  align="center" >
رواه البخاري، ومسلم
</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
اللهم لك ركعت، وبك آمنتُ، ولك أسلمت، خشَع لك سمعي وبصري، ومخي وعظمي وعصبي

<div class = "text-docartion"  align="center" >
 رواه مسلم</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
سبحان ذي الجبروت والملكوت، والكبرياء والعظَمة
<div class = "text-docartion"  align="center" >
رواه أبو داود </div>
   </div>
   
</div>
 

  </ion-content>
</ion-view>



