<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> كيف يُلبي المُحرِم في الحج أو العمرة

</span>
</center> </ion-nav-title>  
  <ion-content>

<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

لبَّيك اللهم لبَّيك، لبيك لا شريكَ لك لبَّيك، إن الحمد والنعمة لك والملك، لا شَريك لك

<div class = "text-docartion"  align="center" >
رواه البخاري، ومسلم</div>
   </div>
   
</div>




  </ion-content>
</ion-view>



