<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> التعوُّذ بعد دعاء الاستفتاح</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

أعوذ بالله من الشيطان الرجيم؛ من همْزه، ونفْخه ونفْثه

<div class = "text-docartion"  align="center" >
رواه الحاكم</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
أعوذ بالله السميع العليم من الشيطان الرجيم؛ من همزه ونفخه ونفْثه

<div class = "text-docartion"  align="center" >
رواه أبو داود</div>
   </div>
   
</div>
 



  </ion-content>
</ion-view>



