<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> الدعاء عند زيارة المريض


</span>
</center> </ion-nav-title>  
  <ion-content>





<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

إذا عطَس أحدكم فليقل: الحمد لله، وليقل له أخوه أو صاحبه: يرحمك الله، فإذا قال له: يرحمك الله، فليقل: يَهديكم الله ويُصلح بالكم

<div class = "text-docartion"  align="center" >
رواه البخاري </div>
   </div>
   
</div>
  </ion-content>
</ion-view>



