<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> دعاء السفر

</span>
</center> </ion-nav-title>  
  <ion-content>


<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

اللهمَّ إنَّا نسألك في سفرنا هذا البر والتقوى، ومن العمل ما ترضى، اللهم هوِّن علينا سفرنا هذا، واطْوِ عنَّا بُعده، اللهم أنت الصاحب في السفر، والخليفة في الأهل، اللهم إني أعوذ بك من وعثاء السفر، وكآبة المنظر، وسوء المُنقلَب في المال والأهل"، وإذا رجع قالهنَّ وزاد فيهنَّ: "آيبون، تائبون، عابدون، لربنا حامدون

<div class = "text-docartion"  align="center" >
رواه مسلم </div>
   </div>
   
</div>



  </ion-content>
</ion-view>



