<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> ما يقال مَن أحسَّ وجعًا في جسده



</span>
</center> </ion-nav-title>  
  <ion-content>





<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

ضَعْ يدك على الذي تألَّم من جسدك وقل: "بسم الله: ثلاثًا، وقل سبع مرات: أعوذ بالله وقدرته من شرِّ ما أجد وأُحاذر

<div class = "text-docartion"  align="center" >
 رواه مسلم </div>
   </div>
   
</div>
  </ion-content>
</ion-view>



