<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> الذكر قبل الطعام
</span>
</center> </ion-nav-title>  
  <ion-content>

<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

إذا أكلت، فسَمِّ الله، وكُل بيمينك، وكُلْ مما يَليك

<div class = "text-docartion"  align="center" >
رواه البخاري، ومسلم</div>
   </div>
   
</div>

<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

إذا أكل أحدكم طعامًا، فليقل: بسم الله، فإن نسِي في أوله، فليقل: بسم الله في أوله وآخره

<div class = "text-docartion"  align="center" >
رواه الترمذي</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

مَن أطعمه الله الطعام، فليقل: اللهم بارِك لنا فيه، وأطعمنا خيرًا منه، ومن سقاه الله لبنًا، فليقل اللهم بارِك لنا فيه وزِدنا منه

<div class = "text-docartion"  align="center" >
رواه الترمذي بهذا اللفظ</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

إذا أكل أحدكم طعامًا، فلا يأكل من أعلى الصحفة، ولكن ليأكُل من أسفلها؛ فإن البركة تنزل من أعلاها

<div class = "text-docartion"  align="center" >
رواه أبو داود</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

إذا أكل أحدكم طعامًا، فلا يمسح أصابعه حتى يَلعقها أو يُلعقها

<div class = "text-docartion"  align="center" >
رواه البخاري، ومسلم</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

إذا أكل أحدكم طعامًا، فسقَطت لُقمة، فليُمط ما رابَه منها، ثم ليَطْعَمها، ولا يَدعها للشيطان

<div class = "text-docartion"  align="center" >
رواه الترمذي</div>
   </div>
   
</div>
  </ion-content>
</ion-view>



