<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> دعاء لقاء العدو


</span>
</center> </ion-nav-title>  
  <ion-content>


<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

حسبنا الله ونعم الوكيل
<div class = "text-docartion"  align="center" >
 رواه البخاري</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

اللهم أنت عضدي، وأنت نصيري، بك أحول، وبك أصول، وبك أُقاتل

<div class = "text-docartion"  align="center" >
 رواه أبو داود </div>
   </div>
   
</div>



  </ion-content>
</ion-view>



