<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;">  ما يقال بعد صلاة الوتر
</span>
</center> </ion-nav-title>  
  <ion-content>

<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >



سبحان الملك القدوس، سبحان الملك القدوس، سبحان الملك القدوس"، يقولها ثلاثًا، ويمدُّ بها صوته، ويرفع صوته في الثالثة

<div class = "text-docartion"  align="center" >
رواه النسائي</div>
   </div>
   
</div>


  </ion-content>
</ion-view>



