<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> الدعاء لطرْد الشيطان ووساوسه


</span>
</center> </ion-nav-title>  
  <ion-content>


<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

الاستعاذة بالله منه؛ لقوله تعالى: ﴿ فَاسْتَعِذْ بِاللَّهِ إِنَّهُ سَمِيعٌ عَلِيمٌ ﴾ الأعراف: 200


   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

وقوله تعالى: ﴿ وَقُلْ رَبِّ أَعُوذُ بِكَ مِنْ هَمَزَاتِ الشَّيَاطِينِ ﴾ المؤمنون: 97

   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

الأذان
<div class = "text-docartion"  align="center" >
 رواه البخاري، ومسلم</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

قراءة سورة البقرة؛ لقوله -صلى الله عليه وسلم- : إن الشيطان يَنفر من البيت الذي تُقرأ فيه سورة البقرة

<div class = "text-docartion"  align="center" >
 رواه البخاري</div>
   </div>
   
</div>
  </ion-content>
</ion-view>



