<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> أذكار الصباح والمساء
</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
   
اللهم أنت ربي، لا إله إلا أنت، خلَقتني وأنا عبدك، وأنا على عهدك ووعدك ما استطعت، أعوذ بك من شرِّ ما صنعت، أبُوء لك بنعمتك عليّ وأبوء بذنبي، فاغفر لي؛ فإنه لا يغفر الذنوب إلا أنت"، قال: "مَن قالها من النهار موقنًا بها، فمات من يومه قبل أن يُمسي، فهو من أهل الجنة، ومن قالها من الليل وهو مُوقن بها، فمات قبل أن يُصبح، فهو من أهل الجنة


 <div class = "text-docartion"  align="center" >
رواه البخاري   </div>
  </div>
   
</div>
<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
   
إذا أصبح أحدكم فليقل: اللهم بك أصبحنا، وبك أمسينا، وبك نحيا، وبك نموت، وإليك النشور
<br>

وإذا أمسى فليقل: "اللهم بك أمسينا، وبك أصبَحنا، وبك نحيا، وبك نموت، وإليك المصير

<div class = "text-docartion"  align="center" >
صحيح رواه الترمذي
</div>
  </div>
   
</div>
<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
   
أصبحنا (أمسينا) على فِطرة الإسلام، وكلمة الإخلاص، ودين نبينا محمد -صلى الله عليه وسلم- ومِلة أبينا إبراهيم حنيفًا مسلمًا وما كان من المشركين

<div class = "text-docartion"  align="center" >
صحيح رواه أحمد
</div>
  </div>
    </div>

   <div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
   
اللهم إني أسألك العافية في الدنيا والآخرة، اللهم إني أسألك العفو والعافية في ديني ودنياي، وأهلي ومالي، اللهم استُر عوراتي، وآمِن رَوعاتي، اللهم احفظني من بين يدي ومن خلفي، وعن يميني وعن شمالي، ومن فوقي، وأعوذ بعظمتك أن أُغتال من تحتي"، قال أبو داود: قال وكيع: يعني: الخسْف

<div class = "text-docartion"  align="center" >
صحيح أبو داود
</div>
  </div>
</div>


   <div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
   
"اللهم عافني في بدني، اللهم عافني في سمعي، اللهم عافني في بصري، لا إله إلا أنت"، ثلاث مرات


  </div>
</div>
 <div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
   
"اللهم إني أعوذ بك من الكفر والفقر، اللهم إني أعوذ بك من عذاب القبر، لا إله إلا أنت"، ثلاث مرات

<div class = "text-docartion"  align="center" >
 رواه أحمد
</div>
  </div>
</div>
 <div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
   
أصبحنا وأصبح (أمسينا وأمسى) المُلك لله، والحمد لله، لا إله إلا الله وحده لا شريك له، له الملك وله الحمد وهو على كل شيء قدير، ربِّ أسألك خير ما في هذا اليوم (الليلة)، وخير ما بعده، وأعوذ بك من شرِّ ما في هذا اليوم (الليلة)، وشر ما بعده، ربِّ أعوذ بك من الكسل، وسوء الكِبَر، ربِّ أعوذ بك من عذابٍ في النار وعذاب في القبر

<div class = "text-docartion"  align="center" >
رواه مسلم
</div>
  </div>
</div>

 <div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
اللهم فاطر السموات والأرض، عالم الغيب والشهادة، ربَّ كلِّ شيء ومليكه، أشهد أنْ لا إله إلا أنت، أعوذ بك من شرِّ نفسي، وشر الشيطان وشِرْكه، وأن أَقترف على نفسي سوءًا، أو أجرَّه إلى مسلم
<div class = "text-docartion"  align="center" >
رواه الترمذي
</div>
  </div>
</div>

 <div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
رضيت بالله ربًّا، وبالإسلام دينًا، وبمحمد -صلى الله عليه وسلم- نبيًّا"، "من قالها حين يُصبح وحين يمسي، كان حقًّا على الله أن يُرضيه

<div class = "text-docartion"  align="center" >
رواه الترمذي
</div>
  </div>
</div>
<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
يا حي يا قيُّوم، برحمتك أستغيث، أصلِح لي شأني كله، ولا تَكلني إلى نفسي طرْفة عينٍ

<div class = "text-docartion"  align="center" >
رواه الحاكم
</div>
  </div>
</div>
<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير

<div class = "text-docartion"  align="center" >
مائة مرة
</div>
  </div>
</div>

<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
سبحان الله وبحمده عدد خلقه، ورضا نفسه، وزِنة عرشه، ومداد كلماته
 ثلاث مرات
<div class = "text-docartion"  align="center" >
رواه مسلم
</div>
  </div>
</div>
<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
 اللَّهُ لَا إِلَهَ إِلَّا هُوَ الْحَيُّ الْقَيُّومُ لَا تَأْخُذُهُ سِنَةٌ وَلَا نَوْمٌ لَهُ مَا فِي السَّمَاوَاتِ وَمَا فِي الْأَرْضِ مَنْ ذَا الَّذِي يَشْفَعُ عِنْدَهُ إِلَّا بِإِذْنِهِ يَعْلَمُ مَا بَيْنَ أَيْدِيهِمْ وَمَا خَلْفَهُمْ وَلَا يُحِيطُونَ بِشَيْءٍ مِنْ عِلْمِهِ إِلَّا بِمَا شَاءَ وَسِعَ كُرْسِيُّهُ السَّمَاوَاتِ وَالْأَرْضَ وَلَا يَئُودُهُ حِفْظُهُمَا وَهُوَ الْعَلِيُّ الْعَظِيم 

<div class = "text-docartion"  align="center" >
 [البقرة: 255]</div>
  </div>
</div>
<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
 بسم الله الذي لا يضرُّ مع اسمه شيء في الأرض ولا في السماء وهو السميع العليم"، ثلاث مرات.

من قالها ثلاثًا إذا أصبح وثلاثًا إذا أمسى، لم يضرَّه شيء


<div class = "text-docartion"  align="center" >
رواه الترمذي </div>
  </div>
</div>
<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
اللهم إني أصبحت (أمسيتُ) أُشهدك وأُشهد حمَلة عرشك وملائكتك، وجميع خلْقك أنَّك أنت الله، لا إله إلا أنت وأن محمدًا عبدك ورسولك

<div class = "text-docartion"  align="center" >
 من قالها مرة، أعتَق الله رُبُعه من النار، ومن قالها مرتين، أعتَق الله نصفه، ومن قالها ثلاثًا، أعتق الله ثلاثة أرباعه، فإن قالها أربعًا، أعتقه الله من النار

</div>
  </div>
</div>

<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
اللهم إني أسألك علمًا نافعًا ورزقًا طيبًا وعملاً متقبَّلاً

<div class = "text-docartion"  align="center" >
رواه ابن ماجه
</div>
  </div>
</div>
<div class = "card" id="">
<div class = "item item-text-wrap  text-docartion"  align="center" >
من قال: سبحان الله مائة مرة قبل طلوع الشمس وقبل غروبها، كان أفضل من مائة بدَنة، ومن قال: الحمد لله مائة مرة قبل طلوع الشمس وقبل غروبها، كان أفضل من مائة فرس يحمل عليها في سبيل الله، ومَن قال: الله أكبر مائة مرة قبل طلوع الشمس وقبل غروبها، كان أفضل من عتْق مائة رَقبة، ومن قال: لا إله إلا الله وحده لا شريك له ، له الملك وله الحمد وهو على كل شيء قديرٌ مائة مرة قبل طلوع الشمس وقبل غروبها - لم يَجئ يوم القيامة أحد بعمل أفضلَ من عمله، إلا من قال مثل قوله، أو زادَ عليه

<div class = "text-docartion"  align="center" >
رواه النسائي
</div>
  </div>
</div>









  </ion-content>
</ion-view>



