<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> ما يقول الإمام</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
استَووا، ولا تختلفوا، فتختلف قلوبكم؛ لِيَلِنِي منكم أُولو الأحلام والنُّهى، ثم الذين يَلونهم، ثم الذين يلونهم

<div class = "text-docartion"  align="center" >
رواه مسلم</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
أتمُّوا الصف المقدَّم، ثم الذي يليه، فما كان من نقصٍ، فليكن في الصف المؤخَّر

<div class = "text-docartion"  align="center" >
رواه أبو داود</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
رصُّوا صفوفكم، وقارِبوا بينها، وحاذُوا بالأعناق
<div class = "text-docartion"  align="center" >
رواه أبو داود</div>
   </div>
   
</div>
 

  </ion-content>
</ion-view>



