<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> الدعاء عند الفراغ من الطعام
</span>
</center> </ion-nav-title>  
  <ion-content>

<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

الحمد لله الذي أطعمني هذا، ورَزقنيه من غير حول مني ولا قوَّة

<div class = "text-docartion"  align="center" >
 رواه أبو داود</div>
   </div>
   
</div>

<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

الحمد لله حمدًا كثيرًا طيبًا مباركًا فيه، غير مَكْفِيٍّ ولا مُودَّع، ولا مُستغنًى عنه ربَّنا

<div class = "text-docartion"  align="center" >
رواه البخاري</div>
   </div>
   
</div>

  </ion-content>
</ion-view>



