<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> ما يقال عند الاعتدال من الركوع</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

سمِع الله لمن حمِده
<div class = "text-docartion"  align="center" >
رواه البخاري، ومسلم</div>
   </div>
   
</div>
<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
فإذا استوى قائمًا، قال: ربَّنا لك الحمد
<div class = "text-docartion"  align="center" >
 رواه البخاري، ومسلم</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
ربنا ولك الحمد حمدًا كثيرًا طيبًا مباركًا فيه

<div class = "text-docartion"  align="center" >
 رواه البخاري</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
ملء السماوات وملء الأرض، وما بينهما وملء ما شِئت من شيء بعد

<div class = "text-docartion"  align="center" >
رواه مسلم</div>
   </div>
   
</div>
 <div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
لربي الحمد لربي الحمد، يُكرِّرها
<div class = "text-docartion"  align="center" >
رواه أبو داود</div>
   </div>
   
</div>


  </ion-content>
</ion-view>



