<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> الدعاء بين الركن اليماني والحجر الأسود

</span>
</center> </ion-nav-title>  
  <ion-content>

<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

 رَبَّنَا آتِنَا فِي الدُّنْيَا حَسَنَةً وَفِي الْآخِرَةِ حَسَنَةً وَقِنَا عَذَابَ النَّارِ  البقرة: 201

<div class = "text-docartion"  align="center" >
رواه أبو داود </div>
   </div>
   
</div>




  </ion-content>
</ion-view>



