<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;"> دعاء الهم والحزن
</span>
</center> </ion-nav-title>  
  <ion-content>

<div class = "card" id="">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

اللهم إني عبدك، ابن عبدك، ابن أَمَتك، ناصيتي بيدك، ماضٍ فيّ حُكمك، عدْلٌ فيّ قضاؤك، أسألك بكل اسم هو لك، سمَّيت به نفسك، أو أنزَلته في كتابك، أو علَّمته أحدًا من خلقك، أو استأثَرت به في علم الغيب عندك، أن تجعل القرآن ربيع قلبي، ونور صدري، وجلاء حزني، وذَهاب همِّي

<div class = "text-docartion"  align="center" >
رواه أحمد</div>
   </div>
   
</div>
<div class = "card" id="sona1">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >

اللهم إني أعوذ بك من الهم والحزن، والعجز والكسل، والبخل والجُبن، وضَلَع الدَّين وغلَبة الرجال

<div class = "text-docartion"  align="center" >
رواه البخاري</div>
   </div>
   
</div>
  </ion-content>
</ion-view>



