<ion-view  >

<ion-nav-title>
<center><span style="font-weight:600;">
  ستون نصيحة</span>
  </center>
</ion-nav-title>

  
  <ion-content>

<div class="container">
  <h2 align="center">نصائح نبوية للحياة اليومية</h2>
  <p align="center" class="text-docartion">
   . ستون نصيحة من رسول الله صلى الله عليه وسلم يحتاجها المسلم في اليوم والليلة</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <h4 align="center" >
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse1" > التوبة من الذنوب</a>
        </h4>
      </div>
      

      <div  id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

        <div class="panel ">

<p align="center" class="text-docartion" class="text-docartion">
    :             عن أبي هريرة رضي الله عنه، أَنَّ رسولَ اللَّهِ صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         مَنْ تابَ قبلَ طُلوعِ الشَّمسِ مِن مَغْربها، تابَ اللّه عَليهِ 
    </p>
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>
<p align="center" class="text-docartion">
     :التوبة سلوك يومي يمارسه المسلم، رحمة الله أبوابها مفتوحة عن طريق التوبة،
      قال تعالى
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
        وَاللَّهُ يُرِيدُ أَنْ يَتُوبَ عَلَيْكُمْ 
        </p >
</p>
<p align="left" class="text-docartion">
    [سورة النساء: الآية 27]
</p>
<p align="center" class="text-docartion">
    أحدِثْ عند كل ذنب توبةً، وليس من طريق سالك إلى الله إلا طريق التوبة
</p>
        </div>
      
      </div>
      
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse2">طلب العلم</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel">
<p align="center" class="text-docartion">
    . عالم واحد أشد على الشيطان من ألف عابد
</p>
<p align="center" class="text-docartion">
    :عن أبي هريرة رضي الله عنه، قال: قال رسول الله صلى الله عليه وسلم 
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
        مَن سَلَكَ طريقاً يَلْتَمِسُ فيه علماً، سهَّلَ الله له طريقاً إِلى 
       الجنة 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه الترمذي ]
</p>
<p align="center" class="text-docartion">
    أنت حينما تخرج من بيتك، وتقصد مجلس علم، تزداد فيه علماً، فهذا الطريق الذي
    تسلكه هو طريق إلى الجنة
    <br/>
    إذا أردت الدنيا فعليك بالعلم، وإذا أردت الآخرة فعليك بالعلم، وإذا أردتهما
    معاً فعليك بالعلم.
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse3">ذكر الله تعالى</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel">

            <p align="center" class="text-docartion">
    :عن أبي الدرداء رضي الله عنه، قال: قال النبي صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         ألا أخْبِرُكم بخيرِ أعمالِكم، وأرفَعِها في درجاتكم، وأزكاها عند 
        مليكِكم، وخير لكم من الوَرِق والذهب، وخير لكم من أن تَلْقَوا عَدُوَّكم،
        فتضربوا أعناقهم، ويضربوا أعناقَكم؟ قالوا: بلى، قال: ذِكْرُ الله 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه الترمذي ]
</p>
<p align="center" class="text-docartion">
    إن قرأت القرآن فأنت ذاكر، وإن استغفرت فأنت ذاكر، وإن ناجيت الله فأنت ذاكر،
    وإن تفكرت في مخلوقات الله فأنت ذاكر، وأي نشاط يقربك إلى الله عز وجل فهو من
    الذكر
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse4"> اصطناع المعروف</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel">
  <p align="center" class="text-docartion">
    :عن أبي ذرٍّ رضي الله عنه، أن رسولَ اللَّهِ صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         لا تحقِرَنَّ مِنَ المعروف شيئاً، ولو أنْ تَلْقَى أخاك بوجْهٍ طَلقٍ 
        
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse5">العمل الصالح</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel"><p align="center" class="text-docartion">
    :لا يندم المرء حين يأتيه ملَك الموت، إلا على عمل صالح قصَّر في أدائه، لذلك
    يقول عليه الصلاة والسلام
    
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         كل معروف صدقة، وإن من المعروف أن تلقى أخاك بوجهٍ طَلْقٍ، وأن تُفرِغَ 
        من دلْوكَ في إناءِ أخيك 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه الترمذي ]
</p></div>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse6"> الدعوة إلى الله</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel"><p align="center" class="text-docartion">
   : الدعوة إلى الله فرض عين، ألم تستمع خلال دروس العلم إلى شرح آية؟ إلى شرح
    حديث؟ إلى موقف صحابي؟ إلى حكم فقهي؟ يقول عليه الصلاة والسلام
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion"> بلِّغُوا عني ولو آية </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث صحيح، أخرجه البخاري والترمذي ]
</p>
<p align="center" class="text-docartion">
    الدعوة إلى الله فرض عين على كل مسلم، في حدود ما يعلم، ومع من يعرف
</p>
<p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         مَنْ دعا إلى هُدىً، كان له من الأجرِ مِثْلُ أجور مَنْ تَبِعَهُ، لا 
        ينقصُ ذلك من أجورهم شيئاً، ومن دعا إلى ضَلالَة، كان عليه من الإثمِ
        مِثْلُ آثام من تَبِعَهُ، لا يَنْقُص ذلك من أوزارهم شيئاً 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم والترمذي وأبو داود ]
</p></div>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse7">الأمر بالمعروف والنهي عن المنكر</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
     :عن أبي سعيد الخدري، رضي الله عنه، قال: سمعت رسول الله صلى الله عليه وسلم
    يقول
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من رأى منكُم منكراً فلْيُغَيِّره بيده، فإن لم يستطع فبلسانه، فإن لم 
        يستطع فبقلبه، وذلك أضعف الإيمان 
    </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث صحيح، أخرجه مسلم ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse8"> قراءة القرآن الكريم</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
    <br/>
    :عن أبي أمامة الباهلي رضي الله عنه، قال: سمعتُ رسولَ الله صلى الله عليه وسلم
   يقول
</p>
    <p align="center" class="text-docartion"> 

         اقرؤوا القرآن، فإنه يأتي يوم القيامة شفيعاً لأصحابه، اقرؤوا 
        الزَّهْرَاوَيْن: البقرة، وآل عمران، فإنهما تأتيان يوم القيامة كأنهما 
        غَمَامتان، أو غَيَايَتَان، أو كأنهما فِرْقَانِ من طير صَوَافّ، 
        تُحاجَّانِ عن صاحبهما، اقرؤوا سورة البقرة، فإن أخْذَها بَرَكَة، 
       وتَرْكَها حَسْرَة، ولا تستطيعها البَطَلَةُ 
       
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>
        </div>
     
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse9">تعلّم القرآن</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
   : عن عثمان بن عفان رضي الله عنه، أَنَّ رسولَ اللَّهِ صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion"> خيرُكمْ من تعلّمَ القُرآنَ وعَلَّمَهُ  </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري والترمذي وأبو داود ]
</p>
            </div>
        
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse10"> تعليم القرآن للناس</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
        <div class="panel">

            <p align="center" class="text-docartion">
  :  عن عثمان بن عفان رضي الله عنه، أَنَّ رسولَ اللَّهِ صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">  خيرُكمْ من تعلّمَ القُرآنَ وعَلَّمَهُ  </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري والترمذي وأبو داود ]
</p>
<p align="center" class="text-docartion">
   . قراءته شيء، وتعليم أحكامه، وشرح آياته شيء آخر 
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse11">إفشاء السلام</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، أَنَّ رسولَ اللَّهِ صلى الله عليه وسلم قال 
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         وَالذي نَفسي بِيدِهِ، لا تَدخلونَ الجنةَ حتى تُؤمِنُوا، ولا تُؤمِنوا
        حتى تَحابُّوا، أَوَلا أدُلُّكم على شيء إِذا فعلتُمُوهُ تحاببتم؟
        أَفْشُوا السلامَ بينَكم 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم وأبو داود والترمذي ]
</p>
        </div>
        
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse12">الحب في الله</a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
        <div class="panel">
<p align="center" class="text-docartion">
    <br/>
 : عن أبي هريرة رضي الله عنه، قال: قال رسول الله صلى الله عليه وسلم 
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         يقولُ اللهُ تعالى يوم القيامة: أينَ المُتَحَابُّون بجلالي؟ اليومَ
        أُظِلُّهم في ظِلِّي يوم لا ظِلَّ إِلا ظِلِّي 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>

        </div>
     
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse13">عيادة المريض</a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
    :عن علي بن أبي طالب رضي الله عنه قال: سمعتُ رسولَ الله صلى الله عليه وسلم
    يقول
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         مَا مِنْ مسلم يعودُ مسلماً مريضاً غُدْوَة، إلا صلى عليه سبعون ألف
        ملك حتى يُمْسِيَ، وإن عاده عَشية، صلَّى عليه سبعون ألف ملك حتى يصبحَ،
        وكان له خريف في الجنة 
    </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث صحيح، أخرجه أبو داود والترمذي ]
</p>
<p align="center" class="text-docartion">
    أن تعود مريضاً، أن تؤنسه، أن تطيّب قلبه، أن تنفس له في الأجل، أن تذكره بآية
   . أو حديث، أن تعينه على الصبر، هذا فيه أجر كبير 
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse14"> إنظار المعسر</a>
        </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، قال: قال رسول الله صلى الله عليه وسلم:
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من يسَّرَ على معسرٍ، يسَّرَ الله عليه في الدنيا والآخرة 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم وابن حبان ]
</p>
            </div>
         
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse15"> التسامح في البيع والشراء والقضاء</a>
        </h4>
      </div>
      <div id="collapse15" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
   : عن جابر بن عبد الله رضي الله عنهما، أن رسولَ اللَّهِ صلى الله عليه وسلم
    قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         رَحِمَ اللهُ رجلاً سَمْحاً إذا باع، وإذا اشترى، وإذا اقْتَضَى 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ]
</p>
<p align="center" class="text-docartion">
   . أن تيسر على الناس المدينين المعسرين، فهو عمل كبير يرضى الله به عنك
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse16"> الستر على الناس</a>
        </h4>
      </div>
      <div id="collapse16" class="panel-collapse collapse">
        <div class="panel">

            <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، أن النبيَّ صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         لا يَسْتُرُ عبد عبداً في الدنيا، إِلا سَتَرَهُ الله يوم القيامة 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>
<p align="center" class="text-docartion">
    هناك نموذج من البشر فضاح، يقتنص الأخطاء، ينشرها بين الناس، يتلذذ بذلك،
   . المسلم يستر، المسلم يكتم
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse17"> صلة الرحم</a>
        </h4>
      </div>
      <div id="collapse17" class="panel-collapse collapse">
        <div class="panel">

            <p align="center" class="text-docartion">
   : عن عائشة رضي الله عنها، قالت: قال رسول الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         الرَّحِمُ مُعلَّقة بالعرشِ، تقولُ: من وَصَلَني وَصَلَهُ اللهُ، ومن
        قطعني قَطَعَهُ الله 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>

        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse18"> حسن الخلُق</a>
        </h4>
      </div>
      <div id="collapse18" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         سُئل رسولُ الله صلى الله عليه وسلم عن أكثر ما يُدْخِل الناسَ النار؟
        قال: الفَمُ والفرج، وسُئل عن أكثر ما يُدْخِلُ الناس الجنة، قال: تقوى
        الله، وحسن الخُلقُ 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه الترمذي ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse19"> الصدق</a>
        </h4>
      </div>
      <div id="collapse19" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
   : عن عبد الله بن مسعود رضي الله عنه، قال: قال رسول الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         عليكم بالصدق، فإِنَّ الصِّدْقَ يَهْدي إلى البِرِّ، وإِن البِرَّ يهدي
        إِلى الجنةِ 
    </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث صحيح، أخرجه أبو داود والترمذي ]
</p>
<p align="center" class="text-docartion">
   . كن صادقاً ترتفع عند الله وعند الناس، والمؤمن لا يكذب
</p>
<p align="center" class="text-docartion">
   : عن أبي أمامة الباهلي رضي الله عنه، قال رسول الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion"> يطبع المؤمن على الخلال كلها، إلا الخيانة والكذب  </p >
</p>
<p align="left" class="text-docartion">
    [ حديث أخرجه أحمد وهو منقطع ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse20">كظم الغيظ</a>
        </h4>
      </div>
      <div id="collapse20" class="panel-collapse collapse">
        <div class="panel">
            <p align="center" class="text-docartion">
   : عن معاذ بن أنس رضي الله عنه، أن النبي صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من كظم غيظاً وهو قادر على إنفاذه خيّره الله من الحور العين يوم
        القيامة 
    </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث رواه الطبراني في الصغير، وفيه رجل مدلس ]
</p>
<p align="center" class="text-docartion">
   : وقال تعالى في مدح المؤمنين
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         وَالْكَاظِمِينَ الْغَيْظَ وَالْعَافِينَ عَنِ النَّاسِ وَاللَّهُ
        يُحِبُّ الْمُحْسِنِينَ 
    </p >
    <p align="center" class="text-docartion"></p >
</p>
<p align="left" class="text-docartion">
       [ سورة آل عمران: الآية 134 ]

</p>
<p align="center" class="text-docartion">
   . بل من علا صياحه في البيت جرحت عدالته، وكاد الحليم أن يكون نبياً، والحلم سيد
    الأخلاق
</p>
        </div>
     
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse21">كفارة المجلس</a>
        </h4>
      </div>
      <div id="collapse21" class="panel-collapse collapse">
        <div class="panel">
            
<p align="center" class="text-docartion">
   : عن أبيس هريرة رضي الله عنه، أنَّ رسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
        مَنْ جلس مجلساً كَثُر فيه لَغَطُهُ، فقال قبل أَن يقوم من مجلسه ذلك
        سبحانك اللَّهمَّ وبحمدك، أشهد أن لا إله إلا أنت، أستغفركَ وأتوب إليك،
        إلا غُفِرَ له ما كان في مجلسهِ ذلك 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث أخرجه الترمذي بإسناد حسن ]
</p>

        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse22">الصبر</a>
        </h4>
      </div>
      <div id="collapse22" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
    عن أبي سعيد وأبي هريرة، رضي الله عنهما، أنَّهُما سَمِعا رسولَ الله صلى الله
   : عليه وسلم يقول
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         ما يُصيب المؤمنَ من وَصَب ولا نَصَب ولا سَقَم ولا حَزَن، حتى الهم
        يَهُمُّه، إلا كَفَّر الله به سيئاته 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم والترمذي ]
</p>
<p align="center" class="text-docartion">
   : أيها الإخوة
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         إِنَّمَا يُوَفَّى الصَّابِرُونَ أَجْرَهُمْ بِغَيْرِ حِسَابٍ 
    </p >
    <p align="center" class="text-docartion"></p >
</p>
<p align="left" class="text-docartion">
    [سورة الزمر: الآية 10]
</p>
<p align="center" class="text-docartion">
    الصبر معالجة إلهية للعبد المؤمن، فالذي يصبر على معالجة الله له، هذا دليل
    أنه يعرف الله عز وجل، تماماً كما لو جلس إنسان راشد على كرسي طبيب الأسنان،
    إنه يتألم، ويشكر، بينما الصغير يصيح، وقد ينطق بكلمة لا تليق بحق الطبيب،
  .  لأنه لا يعلم أن هذه المعالجة لصالحه، هذه النصائح نحتاجها في اليوم والليلة
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse23"> بر الوالدين</a>
        </h4>
      </div>
      <div id="collapse23" class="panel-collapse collapse">
        <div class="panel">

          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         سمعتُ رسولَ الله صلى الله عليه وسلم يقول: رَغِمَ أنْفُهُ، رَغِمَ
        أنفه، رَغِمَ أنفه، قيل: مَنْ يا رسول الله؟ قال: مَنْ أدْرَكَ والديه
        عِنْدَ الْكِبَرِ، أحدُهُما أو كلاهما ثمَّ لم يدخل الجنة 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>
<p align="center" class="text-docartion">
   . يعني أن بر الوالدين سبب كاف لدخول الجنة
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse24">السعي على الأرملة والمسكين</a>
        </h4>
      </div>
      <div id="collapse24" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، قال: قال رسولُ الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         السَّاعي على الأرْمَلَةِ والمسكين، كالمجاهد في سبيل الله، وأحْسِبُهُ
        قال: وكالقائم لا يفْتُرُ، وكالصائم لا يُفْطِرُ 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>
<p align="center" class="text-docartion">
   . أن تسعى على أرملة، أن تسعى على مسكين، فأنت كالمجاهد في سبيل الله
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse25">كفالة اليتيم</a>
        </h4>
      </div>
      <div id="collapse25" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
    <br/>
   : عن سهل بن سعد الساعدي رضي الله عنه، قال: قال رسولُ الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         أنا وكافل اليتيم في الجنة هكذا، وأشار بالسبابة والوسطى، وفَرَّج
        بينهما شيئاً 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري والترمذي وأبو داود ]
</p>
        </div>
     
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse26">الوضوء</a>
        </h4>
      </div>
      <div id="collapse26" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
    <br/>
   : عن عثمان بن عفان رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من توضَّأ فأحسنَ الوُضُوءَ، خرجتْ خطاياهُ من جَسَدِه، ثم تَخْرُجُ من
        تحتِ أظفاره 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse27">التشهد بعد الوضوء</a>
        </h4>
      </div>
      <div id="collapse27" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
    <br/>
   : عن عمر بن الخطاب رضي الله عنه، قال: قال رسول الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من تَوَضَّأ فأحْسَنَ الوُضُوءَ، ثم قال: أشهد أن لا إله إلا الله وحده
        لا شريك له، وأنَّ محمداً عبده ورسوله، اللهم اجْعَلني من التَّوَّابين،
        واجْعلني من المتطهِّرين، فُتحت له ثمانية أبواب الجنة يدخل من أيِّها شاء 
        
    </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث صحيح، أخرجه الترمذي ]
</p>
          </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse28">إجابة المؤذن</a>
        </h4>
      </div>
      <div id="collapse28" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن جابر رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
     مَنْ قال حين يسمَعُ النِّدَاءَ: اللهمَّ رَبَّ هذه الدعوةِ التامَّةِ،
    والصلاة القائمةِ، آتِ محمداً الوسيلةَ والفضيلةَ، وابعثْهُ مَقَاماً محموداً
    الذي وعدته، حلت له شفاعتي يوم القيامة  
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ]
</p>
        </div>
     
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse29"> بناء المساجد</a>
        </h4>
      </div>
      <div id="collapse29" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن عمر بن الخطاب رضي الله عنه، أنه قال: سمعت رسول الله صلى الله عليه وسلم
    يقول
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من بنى لله مسجداً يذكر فيه، بنى الله له بيتاً في الجنة 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه ابن ماجة وأحمد ]
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse30"> السواك</a>
        </h4>
      </div>
      <div id="collapse30" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
    <br/>
    عَنْ أَبِي هُرَيْرَةَ رَضِيَ اللَّهُ عَنْهُ أَنَّ رَسُولَ اللَّهِ صَلَّى
    اللَّهُ عَلَيْهِ وَسَلَّمَ قَالَ 
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         لولا أن أشُق على أمتي، أو على الناس، لأمرتهم بالسواك مع كل صلاة  
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse31">الصلاة في المسجد</a>
        </h4>
      </div>
      <div id="collapse31" class="panel-collapse collapse">
        <div class="panel"><p align="center" class="text-docartion">
    <br/>
   : عن أبي هريرة، رضي الله عنه، أن رسول الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من غدا إلى المسجد أو راح، أعدَّ الله له نزلاً في الجنة كلما غدا أو
        راح 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري وابن خزيمة ]
</p></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse32"> الصلوات الخمس</a>
        </h4>
      </div>
      <div id="collapse32" class="panel-collapse collapse">
        <div class="panel">
<p align="center" class="text-docartion">
   : عن عمرو بن سعيد بن العاص، أن عثمان دعا بطَهوره، فقال: سمعتُ رسولَ الله صلى
    الله عليه وسلم يقول
</p>
    <p align="center" class="text-docartion">
         ما من امرئ مسلم تحضُره صلاة مكتوبة، فَيُحْسِنُ وُضُوءها، وخُشُوعَها
        ورُكُوعَها، إلا كانت كفارة لما قبلَها من الذُّنُوبِ، ما لم يأتِ كبيرة،
        وذلك الدهر كلَّه 
    </p >
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>


        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse33"> صلاة الفجر وصلاة العصر</a>
        </h4>
      </div>
      <div id="collapse33" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي موسى الأشعري رضي الله عنه، قال: قال رسولُ الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion"> مَنْ صلَّى البَرْدَين دخل الجنة </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>
<p align="center" class="text-docartion">
   . البردان: صلاة الفجر وصلاة العصر، يعني من حافظ عليهما في أوقاتهما
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse34"> صلاة الجمعة</a>
        </h4>
      </div>
      <div id="collapse34" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة، رضي الله عنه، أن رسول الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         مَنْ تَوضأ فَأحْسَنَ الوُضُوءَ، ثم أتى الجمعةَ، فاستمع وأنصتَ،
        غُفِرَ لَه ما بينهُ وبين الجمعة، وزيادةُ ثلاثة أيام، ومن مس الحصا فقد
        لَغَا 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse35"> الدعاء ساعة الإجابة من يوم الجمعة</a>
        </h4>
      </div>
      <div id="collapse35" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
    عن أبي هريرة رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم ذكر يومَ
    الجمعة، فقال 
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         فيه ساعة لا يُوافِقُها عبد مسلم، هو قائم يُصلِّي يسألُ الله شيئاً
        إلا أعطاه إياه، وأشار بيده، يُقَلِّلُها 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>
        </div>
        
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse36"> السنن الرواتب </a>
        </h4>
      </div>
      <div id="collapse36" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أم حبيبة أم المؤمنين، رضي الله عنها قالت: قال رسول الله صلى الله عليه
    وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من صلَّى اثنتي عشرة ركعة بنى الله له بيتاً في الجنة، أربعاً قبل
        الظهر، واثنتين بعدها، وركعتين قبل العصر، وركعتين بعد المغرب، وركعتين
        قبل الفجر  
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث أخرجه النسائي وابن خزيمة بإسناد صحيح ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse37">قيام الليل</a>
        </h4>
      </div>
      <div id="collapse37" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         أفضلُ الصِّيام بعدَ رَمضانَ، شهرُ الله المُحَرَّم، وأفْضَلُ
        الصَّلاةِ بعدَ الْمَكْتُوبَةِ، صلاةُ الليل 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse38">صلاة الضحى</a>
        </h4>
      </div>
      <div id="collapse38" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي ذر الغفاري رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم قال
</p>
    <p align="center" class="text-docartion">
         يُصْبح على كل سُلامَى من أحدِكم صدقة، فكلُّ تسبيحة صَدَقة، وكل 
        تحميدة صَدَقة، وكلُّ تهليلة صدقة، وكلُّ تكبيرة صدقةْ، وأمر بالمعروف 
        صدقة، ونهي عن المنكر صدقة، ويُجزِئ من ذلك ركعتان يركعهما من الضحى 
    </p >
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse39">الصلاة على النبي عليه الصلاة والسلام</a>
        </h4>
      </div>
      <div id="collapse39" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن عبد الله بن عمرو بن العاص، رضي الله عنهما، أنه سمع رسول الله صلى الله
    عليه وسلم يقول
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion"> مَنْ صلَّى عليَّ صلاةً، صلى الله عليه بها عشراً </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث صحيح، أخرجه مسلم ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse40">الصوم</a>
        </h4>
      </div>
      <div id="collapse40" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي سعيد رضي الله عنه، قال: قال رسولُ الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         ما مِنْ عبد يَصُومُ يوماً في سبيل الله، إلا باعد الله وجهه عن النار
        سبعين خريفاً 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse41">صوم ثلاثة أيام من كل شهر</a>
        </h4>
      </div>
      <div id="collapse41" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن جرير بن عبد الله رضي الله عنهما، عن النبيِّ صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion"> صيامُ ثلاثةِ أيام من كلِّ شهر، صيامُ الدهر  </p >
</p>
<p align="left" class="text-docartion">
    [ حديث حسن، أخرجه النسائي ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse42"> صيام رمضان</a>
        </h4>
      </div>
      <div id="collapse42" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، قال: قال رسول الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من صام رمضانَ إيماناً واحتساباً، غُفِرَ له ما تقدَّم من ذَنْبِهِ 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse43">صيام ستة أيام من شوال</a>
        </h4>
      </div>
      <div id="collapse43" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي أيوب الأنصاري رضي الله عنه، أَنَّ رسولَ اللَّهِ صلى الله عليه وسلم
    قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         مَنْ صَام رمضانَ، وأتْبَعَهُ بِستّ من شَوَّال، كان كصيامِ الدَّهْرِ 
        
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم والترمذي ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse44">تفطير الصائم</a>
        </h4>
      </div>
      <div id="collapse44" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن زيد بن خالد الجهني رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من فطَّر صائماً كان له مثلُ أجره، غيرَ أنه لا ينقص من أجر الصائم
        شيئاً 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه الترمذي ]
</p>
        </div>
        
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse45"> قيام ليلة القدر </a>
        </h4>
      </div>
      <div id="collapse45" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، قال: قال رسول الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من قام ليلة القدر إيماناً واحتساباً، غُفِرَ له ما تقدَّم من ذَنْبِهِ 
        
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse46">الصدقة</a>
        </h4>
      </div>
      <div id="collapse46" class="panel-collapse collapse">
        <div class="panel">

          <p align="center" class="text-docartion">
   : عن معاذ بن جبل رضي الله عنه، عن النبي صلى الله عليه وسلم أنه قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion"> والصدقةُ تُطفئُ الخطيئةَ، كما يُطفئُ الماءُ النار </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث صحيح، أخرجه الترمذي ]
</p>
<p align="center" class="text-docartion">
   : عن أنس رضي الله عنه، أنَّ النبي صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         إن الصدقَةَ تُطْفِئُ غَضَبَ الرَّبِّ، وتَدْفَعُ مِيتَة السُّوءِ 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه الترمذي ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse47">الحج والعمرة</a>
        </h4>
      </div>
      <div id="collapse47" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         العُمرةُ إلى العُمرةِ، كَفَّارة لما بينهما، والحجُّ المبرور ليس له
        جزاء إلا الجنة 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>
        </div>
       
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse48">اغتنام عشر ذي الحجة</a>
        </h4>
      </div>
      <div id="collapse48" class="panel-collapse collapse">
        <div class="panel">
<p align="center" class="text-docartion">
   : عن عبد الله بن عباس رضي الله عنهما، قال: قال رسولُ الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         ما مِن أيام، العملُ الصَّالِحُ فيهنَّ أحبُّ إلى الله، من هذه الأيام
        العَشْرِ، فقالوا: يا رسول الله، ولا الجِهادُ؟ قال: ولا الجِهادُ، إلا
        رجل خَرجَ يُخاطِرُ بنفسه ومَاله، فلم يرجع بشيء 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه الترمذي وأبو داود ]
</p>

        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse49"> الجهاد في سبيل الله</a>
        </h4>
      </div>
      <div id="collapse49" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن سهل بن سعد رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         رِباطُ يوم في سبيل الله خير من الدنيا وما عليها، وموضع سَوْط أحدكم
        من الجنة خير من الدنيا وما عليها، والرَّوْحة يروحها العبد في سبيل الله،
        أو الغدوة، خير من الدنيا وما عليها 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>
<p align="center" class="text-docartion">
   : عن زيد بن خالد الجهني رضي الله عنه، أن رسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         من جهَّز غازياً في سبيل الله فقد غزَا، ومن خَلَّف غازياً في أهله
        بخير فقد غزا 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse50"> الصلاة على الميت</a>
        </h4>
      </div>
      <div id="collapse50" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، قال: قال رسولُ الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         مَنْ شَهِدَ الجنازة حتى يُصَلَّىَ عليها فله قِيراط، ومن شَهِدَها حتى
        تُدْفَنَ فله قيراطان، قيل: وما القيراطان؟ قال: مِثْلُ الجبلين العظيمين 
        
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse51">حفظ اللسان والفرج</a>
        </h4>
      </div>
      <div id="collapse51" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن سهل بن سعد الساعدي رضي الله عنه، قال: قال رسولُ الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
        مَنْ يَضْمَنْ لِي ما بين رجليه، وما بين لِحْيَيه أَضْمَنْ له الجنة 
        
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري والترمذي ]
</p>
<p align="center" class="text-docartion">
   . حفظ اللسان من الكذب والغيبة والنميمة، وحفظ الفرج أيضاً، سبيلان لدخول الجنة
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse52"> فضل بعض الأذكار</a>
        </h4>
      </div>
      <div id="collapse52" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، أَنَّ رسولَ اللَّهِ صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
        مَنْ قَالَ: لا إِلهَ إِلا الله وحدَهُ لا شَريكَ لَهُ، لَهُ المُلْكُ،
        ولَهُ الحَمْدُ، وهوَ على كلِّ شَيءٍ قَديرٌ، في يومٍ مائة مرةٍ، كانت له
        عَدْلَ عَشْرِ رِقَابٍ، وكُتِبَتْ لَهُ مائةُ حسنةٍ، ومُحِيَتْ عنه مائة
        سَيِّئَةٍ، وكانت لَهُ حِرْزاً من الشيطانِ يومَهُ ذلكَ حتى يُمسيَ، ولم
        يأتِ أحدٌ بِأفضلَ مما جاءَ بِهِ، إِلا رجلٌ عَمِلَ أكثر منه، قال: وَمَن
        قالَ: سُبحانَ اللهِ وبِحَمْدِهِ، في يَومٍ مِائَةُ مَرَّةٍ، حُطَّت
        خَطَايَاهُ، وَإِنْ كانتْ مِثْلَ زَبَدِ البَحرِ  
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ومسلم والموطأ والترمذي ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse53"> إماطة الأذى عن الطريق</a>
        </h4>
      </div>
      <div id="collapse53" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه قال: سمعت رسول الله صلى الله عليه وسلم يقول
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         لقد رأيت رجلاً يَتَقَلَّبُ في الجنة، في شَجَرَة قَطَعَها مِنْ طريق
        المسلمين، كانت تُؤذي الناس 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه مسلم ]
</p>
<p align="center" class="text-docartion">
   . أن تميط الأذى عن الطريق، هذا عمل عند الله كبير
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse54"> تربية البنات</a>
        </h4>
      </div>
      <div id="collapse54" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أب سعيد الخدري رضي الله عنه، قال: قال رسولُ الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         مَنْ كان له ثلاثُ بَنَاتٍ، أو ثَلاثُ أخواتٍ، أو بِنْتانِ، أو أختان،
        فأحْسَنَ صُحْبَتَهُنَّ، واتَّقَى الله فيهنَّ، فله الجنة  
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث حسن، أخرجه أبو داود والترمذي ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse55">الإحسان إلى الحيوان</a>
        </h4>
      </div>
      <div id="collapse55" class="panel-collapse collapse">
        <div class="panel">

          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، عن النبي صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         أَن رجلاً رأى كلباً يأْكُلُ الثَّرَى مِنَ العطش، فأَخَذَ الرجلُ
        خُفَّهُ، فجعلَ يَغرِفُ له به، حتَّى أَرْوَاهُ، فشكرَ اللهُ لَهُ،
        فَأدْخَلَهُ الجنة 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه البخاري ]
</p>
<p align="center" class="text-docartion">
   . أن تحسن إلى حيوان، ثمنه الجنة
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse56"> زيارة الإخوة في الله</a>
        </h4>
      </div>
      <div id="collapse56" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
    عن أنس بن مالك رضي الله عنه، عن النبي صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         ألا أخبركم برجالكم في الجنة؟ قلنا: بلى يا رسول الله، قال: النبي في
        الجنة، والصديق في الجنة، والشهيد في الجنة، والمولود في الجنة، والرجل
        يزور أخاه في ناحية المصر لا يزوره إلا لله، في الجنة  
    </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث أخرجه الطبراني، رجاله رجال الصحيح إلا واحداً ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse57">ترك المِراء </a>
        </h4>
      </div>
      <div id="collapse57" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي أمامة الباهلي رضي الله عنه، أَنَّ رسولَ الله، صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         أنا زعيم ببيت في رَبَض الجَنَّة لمن ترك المِراء، وإن كان مُحِقّاً،
        وببيت في وَسَط الجنة لمن ترك الكذب، وإن كان مازحاً، وببيت في أعلى الجنة
        لمن حَسَّنَ خُلُقَهُ 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث أخرجه أبو داود بإسناد صحيح ]
</p>
<p align="center" class="text-docartion">
  .  المراء: المشاحنة الجدال
</p>
          </div>
        
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse58">طاعة المرأة لزوجها</a>
        </h4>
      </div>
      <div id="collapse58" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي هريرة رضي الله عنه، قال: قال رسول الله صلى الله عليه وسلم
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         إذا صلت المرأة خمسها، وصامت شهرها، وحصنت فرجها، وأطاعت بعلها، دخلت
        من أي أبواب الجنة شاءت 
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث صحيح، أخرجه الطبراني وابن حبان ]
</p>
        </div>
       
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse59">عدم سؤال الناس شيئاً</a>
        </h4>
      </div>
      <div id="collapse59" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
    مادمت قادراً ن تخدم نفسك بنفسك فلا تسأل أحداً شيئاً
    <br/>
   : عن ثوبان رضي الله عنه، أَنَّ رَسولَ الله صلى الله عليه وسلم قال
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         مَنْ يَكْفُلُ لي أن لا يسأل الناس شيئاً، وأتَكَفَّلُ له بالجنّة؟
        فقال ثوبان: أنا، فكان لا يسأل أحداً شيئاً  
    </p >
</p>
<p align="left" class="text-docartion">
    [ حديث أخرجه أبو داود بإسناد صحيح ]
</p>
        </div>
      
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 align="center">
          <a data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapse60">ركعتا التوبة من الذنب </a>
        </h4>
      </div>
      <div id="collapse60" class="panel-collapse collapse">
        <div class="panel">
          <p align="center" class="text-docartion">
   : عن أبي بكر رضي الله عنه قال: سمعتُ رسولَ الله صلى الله عليه وسلم يقول
</p>
<p align="center" class="text-docartion">
    <p align="center" class="text-docartion">
         ما من رجل يُذْنِبُ ذَنباً، ثمَّ يَقومُ فَيتَطَهَّرُ ويصلي ، ثُمَّ
        يَستَغْفِر اللهَ إِلا غُفِرَ لهُ  
    </p >
</p>
<p align="left" class="text-docartion">
    [ من حديث حسن، أخرجه الترمذي ]
</p>
<p align="center" class="text-docartion">
    توضأ، وصلِّ ركعتين، واستغفر الله في هاتين الركعتين، فالله عز وجل يغفر لك
   . ذلك الذنب
</p>
        </div>
      
      </div>
    </div>
  </div> 
</div>

  </ion-content>
</ion-view>
