<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon  buttons buttons-right ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="right">
  <ion-header-bar class="bar-assertive">
      <img class="img" src="img/Mohamed.jpg" />
    </ion-header-bar>

    <ion-content>

<br> <br><br><br>     <ion-list>
      
        <ion-item  class="item-borderless text-docartion" menu-close href="#/app/browse">
                <img  src="img/nasi7a.png" class="nasi7a">

    <div  style="margin-left:125px;">   
                
    
      <span style="margin-left:-50px;">  نصيحة   </span>                        
                     <div style="margin-top: -26px;">60</div> 
                       </div>    

                                 </ion-item>
        <ion-item class="item-borderless text-docartion" menu-close href="#/app/playlist">
           <img  src="img/100sona.jpg" class="centSona">
             <div  style="margin-left:115px;">         <span class="span-margin"> سنة   </span>                          
                             <span >100</span> </div>

     </ion-item>


      <ion-item class="item-borderless text-docartion" menu-close href="#/app/search">
                 <img  src="img/ta3amolm3a zawja.png" class="ta3amolMa3aZawja">

             <div  style="margin-left:65px;">         <span class="span-margin"> السنة في التعامل مع الزوجة   </span>                          
                             </div>

     </ion-item>

     <ion-item class="item-borderless text-docartion" menu-close href="#/app/sonanMansia" >
                <img  src="img/sonanMansia.jpg" class="sonanMansia">

             <div  style="margin-left: 150px;">         <span class="span-margin"> سنن منسية   </span>                          
                             </div>

     </ion-item>
      <ion-item class="item-borderless text-docartion" menu-close href="#/app/adkar" >
                <img  src="img/Adkar.png" class="sonanMansia">

             <div  style="margin-left: 110px;">         <span class="span-margin"> أذكار  و أدعية يومية</span>                          
                             </div>

     </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
