<ion-view view-title="Playlist">
  <ion-content class="center">
    <div class="row">

      <div class="col  button  "><button class="button">
دينه          </button>

      </div>
      <div class="col  button  "><button class="button">
          button-light
          </button>

      </div>
      <div class="col button  "><button class="button">
          button-light
          </button>

      </div>
    </div>
- ابتعد عن التدخين
- اختر زوجتك بعناية لانها مسؤولة عن ٩٠٪ من سعادتك أو تعاستك .
- لا تضيع الوقت في الرد على منتقديك
- لا تثق في اي سياسي 
- لا تترك عملك قبل ان تؤمن غيره 
- عندما تستعير سيارة صديق املأ الوقود قبل اعادتها
- لا تدع الهاتف يقطع اللحظات الجميله من حياتك إنما وجد لراحتك لا لراحة المتصل
- لا تدفع لأحد اجره قبل ان يتم عمله 
- لا تناقش امورك الماديه مع من يملك اكثر بكثير عنك او اقل بكثير عنك 
- احذر قبل اقراضك المال لأصدقائك فقد تخسر الاثنين 
- عندما تريد شراء منزل تذكر ٣ أشياء هامه : الموقع الموقع الموقع 
- لا تثق بذاكرتك ، اكتب كل شئ على الورق
- في الخلافات ، تذكر ما ان تفقد أخلاقك في التحدث والنقاش فقد فقدت حقوقك 
- انشر علمك ، وعلم الناس من حولك .. فهذه الطريقة الوحيدة للخلود 
- لا تتأخر في نومك ان كنت تحرص على يومك 
- لكي تحرج شخصاً اساء لك قم بعمل جيد مع اطفاله 
- اذا استعرت شيأ أكثر من مرتين فقم بشرائه
- قف عندما يدخل شخصا اكبر منك الغرفة التي انت فيها 
- عندما يصمت الجميع خجلاً قم وعبر عن رأيك 
- لتكن ساعتك مبكرة خمس دقائق عن الوقت الحقيقي 
-  توكل على الله ولكن أغلق بابك جيداً !
- لا تتخذ قراراً وأنت غاضب
- كن شجاعاً ، وإن لم تكن كذلك فتظاهر ، فلن يلاحظ أحد الفرق !
- تعلم كيف تستمع، فالفرص الخفية تحتاج لأذن قوية !
- لا تحرم الآخرين من الأمل فقد يكون هذا كل ما يملكونه !
- حين تصادف كتاباً جيداً ، اشتره حتى لو لم تقرأه !
- لا تشارك رجلاً فشل ثلاث مرات !
- ابتسم فهذا لا يكلفك شيئاً ولكنه لا يقدر بالمال !
- لا تجادل شرطياً أبداً !!
- شجع أبناءك على العمل في أوقات فراغهم حالما يبلغون السادسة عشرة .
-  لا تصدق كل ما تسمع، ولا تنفق كل ما تملك ، ولا تنم قدر ما ترغب.
- حين تقول والدتك «ستندم على فعل ذلك».. ستندم عليه غالباً !
- دلل زوجتك ، ولكن ليس أطفالك !
- ابتعد عن الأماكن المشبوهة؛ فالأحداث السيئة لا تحدث إلا هناك !
- الفاشل في إنفاق ماله فاشل في كل شيء في حياته !
- لا تهدد ما لم تملك القدرة على التنفيذ !
- حين يسألك أحدهم سؤالا لا تحبه ، ابتسم وقل «ولماذا تريد أن تعرف »!
- لا تفقد أعصابك، أو ثقتك بنفسك !
- فاجئ صديقاً قديماً باتصال مباغت !
- كل شخص تقابله يملك شيئاً مميزاً، حاول تعلمه !
- سجل صوت والدك ووالدتك وهما يضحكان !
- لا تتوقع من أطفالك الاستماع لنصائحك ووضعك مزر !
- أن دخلت قتالا كن اول من يضرب واضرب بشدة
- تقبل اطفالك كما هم وليس كما تريدهم ان يكونوا
- عندما تلعب مع اطفالك دعهم يربحون عليك
- كن افضل صديق لزوجتك
- لاتدخل دور العبادة التي صرف الكثير لبنائها
- لا تتحجج بنقص الوقت٠٠ فيومك هو نفس يوم العالم باستور ومايكل انجلو والام تيريزا فجميع العظماء كان لديهم 24 ساعة في اليوم ..
- اترك بجانب سريرك قلم رصاص وورقة بيضاء ٠٠ فبعض الافكار الذهبيه تطرق عقلك في الثالثة صباحاً
- الجميع يحب المدح٠٠ فلا تبخل به على أحد
- عندما تكن ضيفاً في مطعم لاتطلب شيئاً أغلى من طلب مُضيفك !
- لاتقس ثروة المرء بما يرتديه٠٠ بل بما ترتديه زوجته
- لاتسئل حلاقاً عن أن كنت بحاجة الى حلاقة شعر أو لا !
- لاتنتقد زوجتك أمام أطفالك مهما حدث
- عندما تدخل غرفة ما او اجتماع ما ادخل وكأنك تملك المكان
- تعلم كيف ترفض ولكن لاتعتد على ذالك
  
  
    
  </ion-content>
</ion-view>
