<div class="col-md-12 col-sm-12 col-xl-12">

<ion-view>                            


       <ion-nav-title>
<center><span style="font-weight:600;"> مائة سنة</span></center>
</ion-nav-title>  
<center>
  <ion-content class="center">
      <!--
<button 
    class="button"      
    ng-click="scheduleInstantNotification()">
    Instant 
</button>-->

    <div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona1()">
 النوم على وضوء

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona2()">

 قراءة سورة الإخلاص ، والمعوذتين قبل النوم  

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona3()">

 التكبير والتسبيح عند المنام  

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona4()">

الدعاء حين الاستيقاظ أثناء النوم
    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona5()">

 الدعاء عند الاستيقاظ من النوم بالدعاء الوارد
    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona6()">
 المضمضة والاستنشاق من غرفة واحد

    </button> 

</div>
      <div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona7()">

الوضوء قبل الغُسل
    </button> 

</div>
 
<div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona8()">
التشهد بعد الوضوء

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona9()">
الاقتصاد في الماء

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona10()">
 صلاة ركعتين بعد الوضوء

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona11()">
             الترديد مع المؤذن ثم الصلاة على النبي صلى الله عليه وسلم

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona12()">
الإكثار من السواك

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona13()">
التبكير إلى المسجد

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona14()">
الذهاب إلى المسجد ماشيا

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona15()">
 إتيان الصلاة بسكينة ووقار

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona16()">
 الدعاء عند دخول المسجد ، و الخروج منه

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona17()">
 الصلاة إلى سترة 

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona18()">
الإقعاء بين السجدتين

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona19()">
التورك في التشهد الثاني

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona20()">
 الإكثار من الدعاء قبل التسليم

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona21()">
 أداء السنن الرواتب

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona22()">
 صلاة الضحى


    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona23()">
 قيام الليل

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona24()">
صلاة الوتر

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona25()">
 الصلاة في النعلين إذا تحققت طهارتهما

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona26()">
 الصـلاة في مسجد قباء

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona27()">
 أداء صلاة النافلة في البيت

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona28()">
 صلاة الاستخارة

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona29()">
 الجلوس في المصلى بعد صلاة الفجر حتى تطلع الشمس

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona30()">
الاغتسال يوم الجمعة

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona31()">
 التبكير إلى صلاة الجمعة

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona32()">
 تحري ساعة الإجابة يوم الجمعة

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona33()">
 الذهاب إلى مصلى العيد من طريق، والعودة من طريق آخر

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona34()">
 الصلاة على الجنازة

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona35()">
 زيارة المقابر

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona36()">
 السحور

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona37()">
تعجيل الفطر ، وذلك إذا تحقق غروب الشمس

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona38()">
قيام رمضان

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona39()">
الاعتكاف في رمضان ، وخاصة في العشر الأواخر منه

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona40()">
صوم ستة أيام من شوال

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona41()">
صوم ثلاثة أيام من كل شهر

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona42()">
صوم يوم عرفة

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona43()">
صوم يوم عاشوراء

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona44()">
اختيار أمير في السفر

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona45()">
التكبير عند الصعود والتسبيح عند النزول

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona46()">
 الدعاء حين نزول منزل

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona47()">
 البدء بالمسجد إذا قدم من السفر

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona48()">
الدعاء عند لبس ثوب جديد

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona49()">
لبس النعل باليمين

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona50()">
 التسمية عند الأكل

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona51()">
حمد الله بعد الأكل والشرب

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona52()">
الجلوس عند الشرب

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona53()">
المضمضة من اللبن

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona54()">
عدم عيب الطعام

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona55()">
 الأكل بثلاثة أصابع

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona56()">
الشرب والاستشفاء من ماء زمزم

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona57()">
 الأكل يوم عيد الفطر قبل الذهاب للمصلى

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona58()">
الإكثار من قراءة القرآن

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona59()">
 تحسين الصوت بقراءة القرآن

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona60()">
ذكر الله على كل حال

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona61()">
 التسبيح

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona62()">
تشميت العاطس

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona63()">
الدعاء للمريض 

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona64()">
وضع اليد على موضع الألم ، مع الدعاء

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona65()">
 الدعاء عند سماع صياح الديك ، والتعوذ عند سماع نهيق الحمار

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona66()">
الدعـاء عند نزول المطر

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona67()">
 ذكر الله عند دخول المنزل

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona68()">
 ذكر الله في المجلس

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona69()">
الدعاء عند دخول الخلاء

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona70()">
الدعاء عندما تعصف الريح

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona71()">
الدعاء للمسلمين بظهر الغيب

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona72()">
 الدعاء عند المصيبة

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona73()">
 إفشاء السلام

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona74()">
طلب العلم 

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona75()">
الاستئذان قبل الدخول ثلاثاً

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona76()">
تحنيك المولود

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona77()">
العقيقة عن المولود

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona78()">
كشف بعض البدن ليصيبه المطر

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona79()">
عيادة المريض

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona80()">
التبسم

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona81()">
التزاور في الله

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona82()">
إعلام الرجل أخيه أنه يحبه

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona83()">
رد التثاؤب

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona84()">
 إحسان الظن بالناس

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona85()">
معاونة الأهل في أعمال المنزل

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona86()">
سُنن الفطرة

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona87()">
 كفالة اليتيم

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona88()">
 تجنب الغضب

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona89()">
البكاء من خشية الله

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona90()">
الصدقة الجارية

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona91()">
 بناء المساجد

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona92()">
السماحة في البيع والشراء

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona93()">
 إزالة الأذى عن الطريق

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona94()">
الصدقة 
    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona95()">
الإكثار من الأعمال الصالحة في عشر ذي الحجة

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona96()">
قتل الوزغ

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona97()">
النهي عن أن يُحَدِّث المرء بكل ما سمع

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona98()">
 احتساب النفقة على الأهل

    </button> 

</div><div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona99()">
الرَّمَل في الطواف

    </button> 

</div>


<div class=""><button class="col col-100 style-100 button button-positive  blinkdiv" ng-click="sona100()">
المداومة على العمل الصالح وإن قل

    </button> 

</div>

  </ion-content>

  </center>
</ion-view>
</div>