<ion-view >
<ion-nav-title>
<center><span style="font-weight:600;">
  السنة في التعامل مع الزوجة</span>
  </center>
</ion-nav-title>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<br>
<br>
<br>
<br>
<br>


<div class="w3-content w3-display-container">
  <img class="mySlides" src="img/1.jpg" style="width:100%">
  <img class="mySlides" src="img/2.jpg" style="width:100%">
  <img class="mySlides" src="img/3.jpg" style="width:100%">
  <img class="mySlides" src="img/4.jpg" style="width:100%">
  <img class="mySlides" src="img/5.jpg" style="width:100%">
  <img class="mySlides" src="img/6.jpg" style="width:100%">
  <img class="mySlides" src="img/7.jpg" style="width:100%">
  <img class="mySlides" src="img/8.jpg" style="width:100%">
  <img class="mySlides" src="img/9.jpg" style="width:100%">
  <img class="mySlides" src="img/10.jpg" style="width:100%">
  <img class="mySlides" src="img/11.jpg" style="width:100%">
  <img class="mySlides" src="img/12.jpg" style="width:100%">
  <img class="mySlides" src="img/13.jpg" style="width:100%">
  <img class="mySlides" src="img/14.jpg" style="width:100%">
  <img class="mySlides" src="img/15.jpg" style="width:100%">
  <img class="mySlides" src="img/16.jpg" style="width:100%">
  <img class="mySlides" src="img/17.jpg" style="width:100%">
  <img class="mySlides" src="img/18.jpg" style="width:100%">
  <img class="mySlides" src="img/19.jpg" style="width:100%">
  <img class="mySlides" src="img/20.jpg" style="width:100%">
  <img class="mySlides" src="img/21.jpg" style="width:100%">
  <img class="mySlides" src="img/22.jpg" style="width:100%">
  <img class="mySlides" src="img/23.jpg" style="width:100%">
  <img class="mySlides" src="img/24.jpg" style="width:100%">
  <img class="mySlides" src="img/25.jpg" style="width:100%">
  <img class="mySlides" src="img/26.jpg" style="width:100%">
  <img class="mySlides" src="img/27.jpg" style="width:100%">
  <img class="mySlides" src="img/28.jpg" style="width:100%">

  <button class="w3-button w3-black w3-display-left" ng-click="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" ng-click="plusDivs(1)">&#10095;</button>
</div>

</body>
  </ion-content>
</ion-view>