<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

الرَّمَل في الطواف
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
 <div class = "item item-text-wrap  text-docartion"  align="center">
عن ابن عمر ـ رضي الله عنهما ـ قال: (( كان رسول الله  صلى الله عليه وسلم  إذا طاف الطواف الأول، خبَّ (أي:رَمَلَ) ثلاثًا ومشى أربعًا ... الحديث ))
<br>

  متفق عليه :1644- 3048 

  <br>
الرَّمَل: هو الإسراع بالمشي مع مقاربة الخطى. ويكون في الأشواط الثلاثة من الطواف الذي يأتي به المسلم أول ما يقدم إلى مكة ، سواء كان حاجًا أو معتمرًا
   </div>
 
</div>
  </ion-content>
</ion-view>
