<ion-view>                                      <ion-nav-title> 
  <center> 
             <span style="font-weight:600;">

صوم ثلاثة أيام من كل شهر
</span>
    </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هريرة ـ رضي الله عنه ـ قال:  أوصاني خليلي بثلاث ، لا أدعهن حتى أموت: صوم ثلاثة أيام من كل شهر ، وصلاة الضحى ، ونوم على وتر  
<br>
 متفق عليه: 1178-1672 
   </div>
  
</div>
  </ion-content>
</ion-view>
