<ion-view id="sona97">                                     
   <ion-nav-title> <center> 
           <span style="font-weight:600;">

  النهي عن أن يُحَدِّث المرء بكل ما سمع
 fy
 </span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card" >
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن حفص بن عاصم ـ رضي الله عنه ـ قال: قال رسول الله صلى الله عليه وسلم :  كفى بالمرء إثمًأ أن يُحَدِّث بكل ما سمع 

<br>
 رواه مسلم: 7 
   </div>
  
</div>
  </ion-content>
</ion-view>
