<ion-view>                                   
     <ion-nav-title> 
       <center> 
         <span style="font-weight:600;">
          الدعاء عند دخول المسجد ، و الخروج منه
          </span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
    <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي حُميد الساعدي ، أو عن أبي أُسيد ـ رضي الله عنهما ـ قال: قال رسول الله صلى الله عليه وسلم :  إذا دخل أحدكم المسجد فليقل: اللهم افتح لي أبواب رحمتك ، وإذا خرج فليقل: اللهم إني أسألك من فضلك 
<br>

  رواه مسلم: 1652 
   </div>
   
</div>
  </ion-content>
</ion-view>
