<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

الدعاء عندما تعصف الريح
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">
عن عائشة ـ رضي الله عنه ـ قالت: كان النبي  صلى الله عليه وسلم  إذا عصفت الريح قال:  اللهم إني أسألك خيرها ، وخير ما فيها ، وخير ما أُرسلت به، وأعوذ بك من شرها ، وشر ما فيها ، وشر ما أُرسلت به   
<br>
رواه مسلم: 2085 
   </div>
  
</div>
  </ion-content>
</ion-view>
