<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

 بناء المساجد
 </span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
 <div class = "item item-text-wrap  text-docartion"  align="center">
عن عثمان بن عفان ـ رضي الله عنه ـ قال عند قول الناس فيه حين بنى مسجد رسول الله صلى الله عليه وسلم : إنكم أكثرتم وإني سمعت النبي  صلى الله عليه وسلم  يقول:  من بنى مسجدًا ـ قال بُكير: حسبت أنه قال: يبتغي به وجه الله ـ بنى الله له مثله في الجنة  

<br>
 متفق عليه: 450- 533
   </div>
  
</div>
  </ion-content>
</ion-view>
