<ion-view>                              
          <ion-nav-title> 
            <center> 
              <span style="font-weight:600;">
              الذهاب إلى المسجد ماشيا
              </span>
</center>
 </ion-nav-title>  
  <ion-content>
<div class = "card">
  
    <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هريرة رضي الله عنه ، أن رسول الله  صلى الله عليه وسلم  قال: (( ألا أدلكم على ما يمحو الله به الخطايا ، ويرفع به الدرجات )) قالوا: بلى يا رسول الله. قال:  إسباغ الوضوء على المكاره ، وكثرة الخطا إلى المساجد ، وانتظار الصلاة بعد الصلاة، فذلكم الرباط  
<br>

 رواه مسلم: 587 
   </div>
  
</div>
  </ion-content>
</ion-view>
