<ion-view>                            
            <ion-nav-title>
               <center> 
                 <span style="font-weight:600;">
                 الإقعاء بين السجدتين
                 </span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي الزبير أنه سمع طاووسا يقول: قلنا لابن عباس ـ رضي الله عنه ـ في الإقعاء على القدمين ، فقال :  هي السنة ، فقلنا له: إنا لنراه جفاء بالرجل ، فقال ابن عباس:  بل هي سنة نبيك صلى الله عليه وسلم  

<br>

 رواه مسلم: 1198  

 <div align="right">
 . الإقعاء هو: نصب القدمين والجلوس على العقبين ، ويكون ذلك حين الجلوس بين السجدتين  


 </div>
   </div>
 
</div>
  </ion-content>
</ion-view>
