<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

 تحسين الصوت بقراءة القرآن
 </span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هريرة رضي الله عنه ، أنه سمع رسول الله  صلى الله عليه وسلم  يقول:  ما أَذِنَ الله لشيء ما أَذِنَ لنبي حسن الصوت ، يتغنى بالقرآن يجهر به  
<br>

 متفق عليه:5024 - 1847 
   </div>
  
</div>
  </ion-content>
</ion-view>
