<ion-view>                             
           <ion-nav-title> 
  <center> 
    <span style="font-weight:600;"> التشهد بعد الوضوء</span>
    </center>
     </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
 عن عمر بن الخطاب ـ رضي الله عنه ـ قال: قال رسول الله صلى الله عليه وسلم :  ما منكم من أحد يتوضأ فيسبغ الوضوء ثم يقول : أشهد أنَّ لا إله إلا الله ، وأنَّ محمدًا عبده ورسوله إلاَّ فتحت له أبواب الجنة الثمانية ، يدخل من أيها شاء  
 
 <br>
  رواه مسلم: 553 
   </div>
   
</div>
  </ion-content>
</ion-view>
