<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

المداومة على العمل الصالح وإن قل
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
    <div class = "item item-text-wrap  text-docartion"  align="center">

عن عائشة رضي الله عنها ، أنها قالت: سُئل رسول الله صلى الله عليه وسلم : أي الأعمال أحب إلى الله؟ قال:  أدوَمها وإن قلَّ  

<br>
 متفق عليه:6465- 1828 
 
   </div>
   
</div>
  </ion-content>
</ion-view>
