<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

التزاور في الله
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هريرة رضي الله عنه ، عن النبي صلى الله عليه وسلم :  أن رجلاً زار أخاً له في قرية أخرى ، فأرصد الله له على مدرجته ملكًا ( أي: أقعده على الطريق يرقبه ) فلما أتى عليه قال: أين تريد؟ قال: أريد أخاً لي في هذه القرية. قال: هل لك عليه من نعمة تربها؟ قال: لا ، غير أني أحببته في الله عز وجل ، قال: فإني رسول الله إليك ، بأن الله قد أحبك كما أحببته فيه   
<br>
 رواه مسلم: 6549 
   </div>
 
</div>
  </ion-content>
</ion-view>
