<ion-view>                                      
  <ion-nav-title> <center> 
    <span style="font-weight:600;"> الوضوء قبل الغُسل</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">

عن عائشة رضي الله عنها ، أنَّ النبي صلى الله عليه وسلم :  كان إذا اغتسل من الجنابة ، بدأ فغسل يديه ، ثم توضأ كما يتوضأ للصلاة ، ثم يُدخل أصابعه في الماء ، فيخلل بها أصول الشعر ، ثم يَصُب على رأسه ثلاث غُرف بيديه ، ثم يُفيض الماء على جلده كله  
<br>
 رواه البخاري :248  
  </div>

</div>
  </ion-content>
</ion-view>
