<ion-view>                                  
      <ion-nav-title>
         <center>  
           <span style="font-weight:600;">
           إتيان الصلاة بسكينة ووقار
           </span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
    <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هـريرة ـ رضي الله عنه ـ قال: سمعت رسول الله  صلى الله عليه وسلم  يقول:  إذا أقيمت الصلاة فلا تأتوها تسعون ، وأتوها تمشون ، وعليكم السكينة، فما أدركتم فصلوا ، وما فاتكم فأتموا 

<br>
  متفق عليه: 908 - 1359  
   </div>
  
</div>
  </ion-content>
</ion-view>
