<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

 زيارة المقابر
 </span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن بريدة ـ رضي الله عنه ـ قال: قال رسول الله صلى الله عليه وسلم :  كنت نهيتكم عن زيارة القبور فزوروها ...الحديث
<br>
  رواه مسلم: 2260 
  <br>
 . ملحوظة: النساء محرم عليهن زيارة المقابر كما أفتى بذلك الشيخ ابن باز ـ رحمه الله ـ وجمع من العلماء


   </div>
 
</div>
  </ion-content>
</ion-view>
