<ion-view>                                      <ion-nav-title> <center> 
  <span style="font-weight:600;">
  
  التكبير والتسبيح عند المنام  

  </span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">

 عن علي رضي الله عنه ، أن رسول الله  صلى الله عليه وسلم  قال حين طلبت منه فاطمة ـ رضي الله عنها ـ خادمًا: ألا أدلكما على ما هو خير لكما من خادم ؟ إذا أويتما إلى فراشكما ، أو أخذتما مضاجعكما ، فكبرا أربعًا وثلاثين ، وسبحا ثلاثًا وثلاثين ، واحمدا ثلاثًا وثلاثين. فهذا خير لكما من خادم   
   <br>
   متفق عليه: 6318 – 6915
   
   </div>

  
</div>
  </ion-content>
</ion-view>
