<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

 إزالة الأذى عن الطريق
 </span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هريرة رضي الله عنه ، أن رسول الله  صلى الله عليه وسلم  قال:  بينما رجل يمشي بطريق ، وجد غُصن شوك على الطريق ، فأخره ، فشكر الله له ، فغفر له  
<br>
 رواه مسلم: 4940
   </div>
  
</div>
  </ion-content>
</ion-view>
