<ion-view>                                      <ion-nav-title> <center>
           <span style="font-weight:600;">

 ذكر الله في المجلس
 </span>
   </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">
 عن أبي هريرة رضي الله عنه ، عن النبي  صلى الله عليه وسلم  قال:  ما جلس قوم مجلسًا لم يذكروا الله فيه ، ولم يُصَلوا على نبيهم،إلا كان عليهم تِرَة (أي: حسرة) فإن شاء عذبهم، وإن شاء غفر لهم   
 
 <br>
 رواه الترمذي: 3380  .
   </div>
  
</div>
  </ion-content>
</ion-view>
