<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

الشرب والاستشفاء من ماء زمزم
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
 عن أبي ذر ـ رضي الله عنه ـ قال: قال رسول الله  صلى الله عليه وسلم  عن ماء زمزم:  إنها مباركة ، إنها طعام طُعم  
 <br>
  رواه مسلم: 6359  زاد الطيالسي:  وشفاء سُقم 
   </div>
  
</div>
  </ion-content>
</ion-view>
