<ion-view>                                  
      <ion-nav-title> 
        <center>  
          <span style="font-weight:600;">
          الإكثار من الدعاء قبل التسليم
          <span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
 <div class = "item item-text-wrap  text-docartion"  align="center">
 عن عبدالله بن عمر ـ رضي الله عنهما ـ قال:  كنا إذا كنا مع النبي  صلى الله عليه وسلم ،إلى أن قال: ثم ليتخير من الدعاء أعجبه إليه فيدعو 
 <br>
 رواه البخاري: 835 
   </div>
  
</div>
  </ion-content>
</ion-view>
