<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

لبس النعل باليمين
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
    <div class = "item item-text-wrap  text-docartion"  align="center">
 عن أبي هريرة ـ رضي الله عنه ـ قـال: قـال رسـول الله صلى الله عليه وسلم :  إذا انتعل أحدكم فليبدأ باليمنى ، وإذا خلع فليبدأ بالشمال، ولينعلهما جميعًا، أو ليخلعهما جميعًا  
 <br>
 
  متفق عليه:5855 - 5495 
   </div>
  
</div>
  </ion-content>
</ion-view>
