<ion-view>                                
        <ion-nav-title>
           <center> 
             <span style="font-weight:600;">
             الترديد مع المؤذن و الصلاة على النبي    
             </span>
</center> 
</ion-nav-title>  
  <ion-content>
<div class = "card">
  
    <div class = "item item-text-wrap  text-docartion"  align="center">
عن عبدالله بن عمرو رضي الله عنهما ، أنه سمـع النبي  صلى الله عليه وسلم  يقــول:  إذا سمعتم المؤذن فقولوا مثل ما يقول، ثم صلوا عليَّ، فإنه من صلى عليَّ صلاة ، صلى الله عليه بها عشرًا ... الحديث 

<br>
 رواه مسلم: 849 
   </div>
  
</div>
  </ion-content>
</ion-view>
