<ion-view>                                      <ion-nav-title> <center>
           <span style="font-weight:600;">

السماحة في البيع والشراء
</span>
   </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">
عن جابر بن عبدالله رضي الله عنهما ، أن رسول الله  صلى الله عليه وسلم  قال:  رحم الله رجلاً سمحًا إذا باع ، و إذا اشترى ، وإذا اقتضى 
<br>
 رواه البخاري: 2076
   </div>
  
</div>
  </ion-content>
</ion-view>
