<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

 إفشاء السلام
 </span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
<div class = "item item-text-wrap  text-docartion"  align="center">
عن البَراءِ بن عازِب ـ رضي الله عنه ـ قال:  أمَرنا النبي  صلى الله عليه وسلم  بسبع ، ونهانا عن سَبع: أمرنا بعِيادة المريض، ... وإفشَاء السلام ،... الحديث  
<br>f

 متفق عليه: 5175 - 5388 
   </div>
  
</div>
  </ion-content>
</ion-view>
