
<ion-view >
<ion-nav-title>
<center><span style="font-weight:600;">
  سنن منسية</span>
  </center>
</ion-nav-title>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<br>
<br>
<br>
<br>
<br>

<div class="w3-content w3-display-container">
  <img class="mySlidesSonan" src="img/SM1.jpg" style="width:100%">
    <img class="mySlidesSonan" src="img/SM2.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM3.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM4.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM5.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM6.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM7.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM8.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM9.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM10.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM11.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM12.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM13.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM14.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM15.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM16.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM17.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM18.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM19.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM20.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM21.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM22.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM22.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM23.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM24.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM25.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM26.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM27.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM28.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM29.jpg" style="width:100%">
  <img class="mySlidesSonan" src="img/SM30.jpg" style="width:100%">


 

  <button class="w3-button w3-black w3-display-left" ng-click="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" ng-click="plusDivs(1)">&#10095;</button>
</div>

</body>
  </ion-content>
</ion-view>