<ion-view>                      
                  <ion-nav-title> <center>  <span style="font-weight:600;">النوم على وضوء</span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card" id="sona1">
  
   <div class = "item item-text-wrap  text-docartion"  align="center" >
 قـال النبي  صلى الله عليه وسلم  للبراء بن عازب رضي الله عنه :  إذا أتيت مضجعك ، فتوضأ وضوءك للصلاة ، ثم اضطجع على شقك الأيمن... الحديث 
   
    <div class = "text-docartion"  align="center" >
  متفق عليه:6311-6882
   </div>
   </div>
   
</div>


  </ion-content>
</ion-view>



