<ion-view>                                    
  
  
    <ion-nav-title> <center> 

         <span style="font-weight:600;">
            أداء صلاة النافلة في البيت

</span>
  
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
 <div class = "item item-text-wrap  text-docartion"  align="center">
    عن جابر ـ رضي الله عنه ـ قال: قال رسول الله صلى الله عليه وسلم :  إذا قضى أحدكم الصلاة في مسجده فليجعل لبيته نصيبًا من صلاته ، فإن الله جاعل في بيته من صلاته خيرا  

<br>
 رواه مسلم: 1822 
   </div>
   
</div>
  </ion-content>
</ion-view>
