<ion-view>                                      <ion-nav-title> <center>
  
           <span style="font-weight:600;">

 تحري ساعة الإجابة يوم الجمعة
   </span>
   </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هريرة رضي الله عنه ، أن رسول الله  صلى الله عليه وسلم  ذَكَرَ يوم الجمعة فقال: (( فيه ساعة، لا يوافقها عبد مسلم ، وهو قائم يصلي ، يسأل الله تعالى شيئًا ، إلا أعطاه إياه )) وأشار بيده يقللها. 
<br>
متفق عليه: 935 - 1969 
   </div>

</div>
  </ion-content>
</ion-view>
