<ion-view>                                      <ion-nav-title> <center>
           <span style="font-weight:600;">

 الأكل يوم عيد الفطر قبل الذهاب للمصلى
 </span>
   </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
 <div class = "item item-text-wrap  text-docartion"  align="center">
عن أنس بن مالك ـ رضي الله عنه ـ قال :  كان رسول الله  صلى الله عليه وسلم  لا يغدو يوم الفطر حتى يأكل تمرات  وفي رواية:  ويأكلهن وترًا   
<br>

رواه البخاري: 953 
   </div>
  
</div>
  </ion-content>
</ion-view>
