<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

وضع اليد على موضع الألم ، مع الدعاء
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">
عن عثمان بن أبي العاص رضي الله عنه ، أنه شكا إلى رسول الله  صلى الله عليه وسلم  وجعًا، يجده في جسده مُنذ أسلم ، فقال له رسول الله صلى الله عليه وسلم :  ضع يدك على الذي يألم من جسدك، وقل: باسم الله ، ثلاثًا ، وقل سبع مرات: أعوذُ بالله وقدرتهِ من شَر ما أجد وأُحَاذر   

<br>
رواه مسلم: 5737 
   </div>
  
</div>
  </ion-content>
</ion-view>
