<ion-view>                                      
  <ion-nav-title> 
    <center> 


   <span style="font-weight:600;">
<div style="margin-top: -10px;">
الإكثار من الأعمال الصالحة </div>
<div style="margin-top: -24px;">
 في عشر ذي الحجة
 </div>
 </span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">
عن بن عباس رضي الله عنه ، عن النبي صلى الله عليه وسلم ، أنه قال:  ما العمل في أيام أفضل منها في هذه ( يعني أيام العشر)  قالوا: ولا الجهاد؟ قال:  ولا الجهاد ، إلا رجل خرج يخاطر بنفسه وماله فلم يرجع بشيء  
<br>

رواه البخاري: 969
   </div>
   
</div>
  </ion-content>
</ion-view>
