<ion-view>                     
                   <ion-nav-title> 
  <center>
                       <span style="font-weight:600;">

   قيام الليل

</span>
   </center>
    </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هريرة رضي الله عنه ، أن رسول الله  صلى الله عليه وسلم  سُئل : أي الصلاة أفضل بعد المكتوبة، فقال:  أفضل الصلاة بعد الصلاة المكتوبة ، الصلاة في جوف الليل 
<br>
  رواه مسلم: 2756 
   </div>
  
</div>
  </ion-content>
</ion-view>
