<ion-view>                                      <ion-nav-title> <center> 
         <span style="font-weight:600;">

الدعاء عند لبس ثوب جديد
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي سعيد الخدري ـ رضي الله عنه ـ قال: كان رسول الله  صلى الله عليه وسلم  إذا استجد ثوبا سماه باسمه : إما قميصا ، أو عمامة، ثم يقول:  اللهم لك الحمد ، أنت كسوتنيه ، أسألك من خيره ، وخير ما صنع له ، وأعوذ بك من شره، وشر ما صنع له   
<br>
رواه أبو داود: 4020 
   </div>
 
</div>
  </ion-content>
</ion-view>
