<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

التكبير عند الصعود والتسبيح عند النزول
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">
 عن جابر ـ رضي الله عنه ـ قال:  كنا إذا صعدنا كبرنا ، وإذا نزلنا سبحنا 
 <br>
  رواه البخاري: 2994 
  <br>
 * يكون التكبير عند صعود المرتفعات ، والتسبيح عند النزول وانحدار الطريق
   </div>
  
</div>
  </ion-content>
</ion-view>
