<ion-view>                                      <ion-nav-title> <center>
           <span style="font-weight:600;">

كشف بعض البدن ليصيبه المطر
</span>
   </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
 <div class = "item item-text-wrap  text-docartion"  align="center">
عن أنس ـ رضي الله عنه ـ قال: أصابنا مع رسول الله  صلى الله عليه وسلم  مطر . قال: فحسر رسول الله  صلى الله عليه وسلم  عن ثوبه حتى أصابه من المطر ، فقلنا: يا رسول الله! لم صنعت هذا؟ قال:  لأنه حديث عهد بربه 
<br>
 رواه مسلم: 2083  
  . حسر عن ثوبه أي: كشف بعض بدنه 
   </div>
  
</div>
  </ion-content>
</ion-view>
