<ion-view>                                      <ion-nav-title> <center> 
  <span style="font-weight:600;">
  الدعاء عند الاستيقاظ من النوم
  </span>
</center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">

 عن عبادة بن الصامت رضي الله عنه ، عن النبي  صلى الله عليه وسلم  قال:  من تعارَّ من الليل فقال: لا إله إلا الله وحده لا شريك له ، له الملك وله الحمد ، وهو على كل شيء قدير، الحمد لله ، وسبحان الله ، والله أكبر، ولا حول ولا قوة إلا بالله، ثم قال: اللهم اغفر لي، أو دعا ، استُجيب له ، فإنْ توضأ وصلى قُبِلت صلاته 
 <br>
  رواه البخاري: 1154  
<br>
  <div align="right">  التعارّ: اليقظة مع الصوت بذكر الله*
  </div>
 
  </div>
  
</div>
  </ion-content>
</ion-view>
