<ion-view>                       
                 <ion-nav-title> <center> 
                   <span style="font-weight:600;">
 صلاة الضحى
 </span>
                   </center>
                    </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">
 عن أبي ذر رضي الله عنه ، عن النبي  صلى الله عليه وسلم  أنه قال:  يصبح على كل سلامى ( أي: مفصل) من أحدكم صدقة ، فكل تسبيحة صدقة ، وكل تحميدة صدقة ، وكل تهليلة صدقة ، وكل تكبيرة صدقة ، وأمر بالمعروف صدقة ، ونهي عن المنكر صدقة ، ويجزىء من ذلك ركعتان يرك
 
 عهما من الضحى 
 
 <br>
   رواه مسلم: 1671 

   <div align="right"> 

        . وأفضل وقتها حين ارتفاع النهار، واشتداد حرارة الشمس ، ويخرج وقتها بقيام قائم الظهيرة، وأقلها ركعتان ، ولا حدَّ لأكثرها

   </div>
   
   </div>
  
</div>
  </ion-content>
</ion-view>
