<ion-view>                                      <ion-nav-title> <center>
           <span style="font-weight:600;">

الدعاء للمسلمين بظهر الغيب
</span>
   </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي الدرداء رضي الله عنه ، أنه سمع رسول الله  صلى الله عليه وسلم  يقول:  من دعا لأخيه بظهر الغيب، قال المَلَكُ المُوَكَّلُ به: آمين ، ولك بمثل 
<br>
 رواه مسلم: 6928 
   </div>
  
</div>
  </ion-content>
</ion-view>
