<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

الصدقة 
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هريرة ـ رضي الله عنه ـ قال ، قال رسول الله صلى الله عليه وسلم :  من تصدق بعدل تمرة من كسب طيب ، ولا يقبل الله إلا الطيب ، فإن الله يتقبلها بيمينه ، ثم يربيها لصاحبه كما يربي أحدكم فَلُوة حتى تكون مثل الجبل  

<br>
متفق عليه: 1410-1014
   </div>
  
</div>
  </ion-content>
</ion-view>
