<ion-view>                                      <ion-nav-title> <center> 
           <span style="font-weight:600;">

الإكثار من قراءة القرآن
</span>
  </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
   <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي أمامة الباهلي ـ رضي الله عنه ـ قال: سمعت رسول الله  صلى الله عليه وسلم  يقول:  اقرؤوا القرآن ، فإنه يأتي يوم القيامة شفيعًا لأصحابه  
<br>
 رواه مسلم: 1874 
   </div>
 
</div>
  </ion-content>
</ion-view>
