<ion-view>                                      <ion-nav-title> <center>
           <span style="font-weight:600;">
<div style="margin-top: -10px;">
 الدعاء عند سماع صياح الديك 
 </div>
<div style="margin-top: -24px;">
 والتعوذ عند سماع نهيق الحمار</div>
 </span>
   </center> </ion-nav-title>  
  <ion-content>
<div class = "card">
  
  <div class = "item item-text-wrap  text-docartion"  align="center">
عن أبي هريرة رضي الله عنه ، أن النبي  صلى الله عليه وسلم  قال:  إذا سمعتم صياح الديكة فاسألوا الله من فضله، فإنها رأت مَلَكًا ، وإذا سمعتم نهيق الحمار فتعوذوا بالله من الشيطان ، فإنها رأت شيطانًا  
<br>

 متفق عليه:3303 - 6920  
   </div>
   
</div>
  </ion-content>
</ion-view>
